mixin b-about()

  .b-about.section-area
    .container

        .b-card-wrap.row
          .col-xl-6
            .row
              .col-12
                a.b-card.b-card_font_lg(href="#")
                  span.b-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '60', iconHeight: '60'})
                  .b-card__title Пресс-центр
                  .b-card__info Подробнее
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              .col-md-6
                a.b-card(href="#")
                  span.b-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'click', className: 'ic', iconWidth: '60', iconHeight: '60'})
                  .b-card__title История
                  .b-card__info Подробнее
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              .col-md-6
                a.b-card(href="#")
                  span.b-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'case', className: 'ic', iconWidth: '60', iconHeight: '60'})
                  .b-card__title Руководство
                  .b-card__info Подробнее
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              .col-md-6
                a.b-card(href="#")
                  span.b-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'click', className: 'ic', iconWidth: '60', iconHeight: '60'})
                  .b-card__title Общая информация
                  .b-card__info Подробнее
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              .col-md-6
                a.b-card(href="#")
                  span.b-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'case', className: 'ic', iconWidth: '60', iconHeight: '60'})
                  .b-card__title Правовая информация
                  .b-card__info Подробнее
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})

          .col-xl-6
            .row.flex-xl-wrap-reverse
              .col-12
                .row
                  .col-md-6
                    a.b-card(href="#")
                      span.b-card__label
                        != pugHelpers.Icon.call(locals, {iconName: 'package', className: 'ic', iconWidth: '60', iconHeight: '60'})
                      .b-card__title Раскрытие информации
                      .b-card__info Подробнее
                        != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
                  .col-md-6
                    a.b-card(href="#")
                      span.b-card__label
                        != pugHelpers.Icon.call(locals, {iconName: 'spy', className: 'ic', iconWidth: '60', iconHeight: '60'})
                      .b-card__title Контакты
                      .b-card__info Подробнее
                        != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})

              .col-12
                .b-card-lg
                  a.b-card-lg__inner(href="#")
                    img.b-card-lg__label.b-card-lg__label_mod-a(src="assets/media/content/b-card/label/2.png", alt="фото")
                    .b-card-lg__img
                      img.img-fluid(src="assets/media/content/b-card/581x570/1.jpg", alt="фото")
                    .b-card-lg__wrap
                      .b-card-lg__title
                        span.text-primary Карьера
                        |  в аэропорту
                      .b-card-lg__subtitle Работа в динамически развивающейся компании

                      .b-card-lg__info Подробнее
                        != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})



  // end .b-about
  |
  |

