mixin b-modal-swipe()

  .ui-modal.modal.modal_full.fade#modalSwipe(tabindex="-1" role="dialog" aria-hidden="true"  data-backdrop="static")
    .modal-dialog.modal-dialog-centered(role="document")
      .b-modal-swipe.modal-content
        .b-modal-swipe__inner
          .b-modal-swipe__info
            .b-modal-swipe__item Прилет
            .b-modal-swipe__item Трансфер и транзит
          img.b-modal-swipe__img.img-fluid(src="assets/media/general/swipe.png", alt="Листайте вправо")
        button.btn.btn-primary(type="button" data-dismiss="modal") Ок, я понял

  // end .b-modal-swipe
  |
  |

