.b-card-wrap {
  margin-bottom: -40px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}

.b-card {
  position: relative;
  background-color: #FFF;
  height: 400px;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding: 36px 40px 38px;
  transition: all .3s;
  border-radius: 4px;
  &__label {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  &__title {
    font-family: Geometria;
    font-size: 24px;
    font-weight: bold;
    color: $main;
    width: 100%;
    margin-bottom: 14px;
  }
  &__info {
    border-top: 1px solid rgba(12, 35, 64, 0.2);
    font-weight: 500;
    font-size: 16px;
    color: rgba(12, 35, 64, 0.4);
    width: 100%;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: all .3s;
    .ic {
      position: relative;
      top: -2px;
      right: 2px;
      fill: transparent;
      transition: all .3s;
      opacity: 0;
      stroke: $primary;
    }
  }

  &:hover {
    box-shadow: 1px 4px 44px rgba(98, 98, 98, 0.24);
    text-decoration: none;
    .b-card__info {
      color: $primary;
      .ic {
        opacity: 1;
      }
    }
  }

  &_font_lg {}
  &_font_lg & {
    &__title {
      font-size: 32px;
    }
  }



  @include media-breakpoint-down(md) {
    height: 320px;
  }

  @include media-breakpoint-down(sm) {
    height: auto;
    padding: 17px 12px 17px 72px;
    margin-bottom: 8px;
    &__info {
      display: none;
    }
    &__label {
      top: calc(50% - 16px);
      left: 20px;
      .ic {
        width: 32px;
        height: 32px;
      }
    }
    &__title {
      font-size: 20px;
      line-height: 1.3;
      min-height: 29px;
      margin-bottom: 0;
    }
  }
}


.b-card-slider {
  margin-bottom: 0;
  .slick-dots {
    left: 40px;
    bottom: 78px;
    text-align: left;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 21px;
    margin-bottom: 11px;
    .slick-dots {
      left: 20px;
      bottom: 25px;
    }
    .b-card-lg__inner {
      padding-bottom: 26px;
    }
  }
}

.b-card-lg {
  display: block;
  margin-bottom: 40px;
  &__inner {
    position: relative;
    background-color: #FFF;
    padding: 40px 40px 38px;
    height: 840px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    border-radius: 4px;
    &:hover {
      text-decoration: none;
    }
  }
  &__label {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  &__img {
    margin: auto;
    text-align: center;
  }
  &__title {
    font-family: Geometria;
    font-size: 48px;
    line-height: 1.25;
    font-weight: bold;
    color: $main;
    width: 100%;
    margin-bottom: 17px;
  }
  &__subtitle {
    width: 100%;
    margin-bottom: 18px;
    padding-bottom: 27px;
    color: rgba(12, 35, 64, 0.8);
    border-bottom: 1px solid rgba(12, 35, 64, 0.2);
  }
  &__info {
    font-weight: 500;
    font-size: 16px;
    color: rgba(12, 35, 64, 0.4);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: all .3s;
    min-height: 24px;
    .ic {
      position: relative;
      top: -2px;
      right: 2px;
      fill: transparent;
      transition: all .3s;
      opacity: 0;
      stroke: $primary;
    }
  }

  &:hover {
    box-shadow: 1px 4px 44px rgba(98, 98, 98, 0.24);
    text-decoration: none;
    .b-card-lg__info {
      color: $primary;
      .ic {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
    &__inner {
      height: auto;
      padding: 20px;
    }
    &__title {
      font-size: 32px;
    }
    &__subtitle {
      line-height: 1.25;
      padding-bottom: 19px;
      margin-bottom: 15px;
    }
    &__img {
      height: 235px;
      margin-bottom: 21px;
    }
    &__info {
      line-height: 1.25;
      padding-bottom: 3px;
      margin-bottom: 0;
    }
    &__label {
      width: 40px;
      height: 40px;
      top: 20px;
      right: 20px;
      &_mod-a {
        height: 16px;
        width: auto;
      }
    }
  }
}


.b-card-bg-slider {
  .slick-dots {
    left: 79px;
    top: 74px;
    bottom: auto;
    text-align: left;

    li button:before {
      background-color: rgba(255, 255, 255, 0.2);
    }

    li.slick-active button {
      &:before {
        background-color: #fff;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .slick-dots {
      left: 20px;
      top: 18px;
      bottom: auto;
    }
  }
}

.b-card-bg {
  height: 1040px;
  position: relative;
  color: #FFF;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(12, 35, 64, 0) 0%, rgba(12, 35, 64, 0.44) 100%);
    background-blend-mode: multiply;
    height: 470px;
  }
  &__img {}
  &__inner {
    padding: 120px 80px 118px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
  }
  &__title {
    font-family: Geometria;
    font-size: 60px;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 40px;
  }
  &__info {
    font-family: Geometria;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
  }
  &__link {
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    font-size: 16px;
    margin-top: 7px;
    display: block;
  }

  &:hover {
    color: #FFF;
  }

  @include media-breakpoint-down(lg) {
    height: 700px;
  }

  @include media-breakpoint-down(sm) {
    height: 568px;
    &__title {
      font-size: 32px;
    }
    &__inner {
      padding: 80px 26px 40px 16px;
      align-content: space-between;
    }
    &__link {
      font-size: 14px;
      margin-top: 7px;
    }
    &__info {
      line-height: 1.25;
    }
    &__footer {
      padding-left: 4px;
    }
  }
}

.b-card-2-group {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -40px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}

.b-card-2 {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  &__inner {
    background-color: #FFF;
    padding: 36px 40px 36px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    .ic {
      stroke: rgba(12, 35, 64, 0.4);
    }
  }
  &__title {
    font-family: Geometria;
    font-size: 24px;
    font-weight: bold;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }
  &__list {
    border-top: 1px solid rgba(12, 35, 64, 0.2);
    padding-top: 14px;
    margin-top: 14px;
    margin-bottom: 0;
  }
  &__link {
    font-weight: 500;
    font-size: 16px;
    color: rgba(12, 35, 64, 0.8);
    &:hover {
      color: #FE5000;
    }
  }

  &_w-rad & {
    &__inner {
      border-radius: 4px;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 8px;
    margin-bottom: 0;
    padding: 0 20px 0;
    &__title {
      font-size: 20px;
    }
    &__item {
      margin-bottom: 8px;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    &__inner {
      padding: 16px 20px 10px;
    }
    &__list {
      margin-top: 13px;
      margin-bottom: 0;
      padding-top: 14px;
    }
    &__header {
      .ic {
        display: none;
      }
    }
    &_w-rad & {
      &__inner {
        border-radius: 0;
      }
    }
  }
}

.b-card-3 {
  margin-bottom: 40px;
  &__wrap {
    padding: 40px;
    transition: all .3s;
    border-radius: 4px;
    position: relative;
    background-color: #FFF;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    height: 100%;
  }
  &__label {
  }
  &__title {
    margin-top: 57px;
    font: bold 32px/1.25 Geometria;
    color: $main;
    width: 100%;
    margin-bottom: 14px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(12, 35, 64, 0.2);
  }
  &__footer {
    display: flex;
  }
  &__footer-item {
    position: relative;
    &:not(:last-child) {
      margin-right: 24px;
      padding-right: 24px;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 6px;
        height: 44px;
        border-right: 1px dashed rgba(12, 35, 64, 0.2);
      }
    }
  }
  &__footer-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    color: $main;
  }
  &__footer-info {
    margin-top: 2px;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(12, 35, 64, 0.6);
  }




  @include media-breakpoint-up(sm) {
    &_mod-vert & {
      &__wrap {
        display: block;
      }
      &__footer {
        display: block;
      }
      &__footer-item {
        &:not(:last-child) {
          border-bottom: 1px dashed rgba(12, 35, 64, 0.2);
          margin-bottom: 9px;
          padding-bottom: 16px;
          border-right: none;
          margin-right: 0;
          padding-right: 0;
          &:after {
            content: none;
          }
        }
      }
    }
  }



  @media (max-width:1599px) {
    &__title {
      font-size: 24px;
    }
  }

  @include media-breakpoint-down(sm) {
    height: auto;
    margin-bottom: 8px;
    &__info {
      display: none;
    }
    &__label {
      .ic {
        width: 32px;
        height: 32px;
      }
    }
    &__title {
      font-size: 20px;
      line-height: 1.3;
      margin-bottom: 0;
      margin-top: 19px;
      padding-bottom: 14px;
    }
    &__wrap {
      display: block;
      padding: 16px 20px 20px;
    }
    &__footer {
      display: block;
      padding-top: 12px;
    }
    &__footer-link {
      font-size: 14px;
    }
    &__footer-info {
      font-size: 11px;
    }
    &__footer-item {
      &:not(:last-child) {
        border-bottom: none;
        padding-bottom: 12px;
        border-right: none;
        margin-right: 0;
        padding-right: 0;
        &:after {
          content: none;
        }
      }
    }
  }


}



.b-card-links {
  margin-bottom: 40px;
  padding: 40px 40px 35px;
  background-color: #FFF;
  border-radius: 4px;
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(12, 35, 64, 0.2);
      margin-bottom: 24px;
      padding-bottom: 24px;
    }
  }
  &__title {
    font-family: Geometria;
    font-size: 20px;
    line-height: 1.3;
    color: $main;
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
  }
  a.b-card-links__title {
    &:hover {
      color: #FE5000;
    }
  }
  &__info {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(12, 35, 64, 0.6);
    display: inline-block;
  }
  a.b-card-links__info {
    border-bottom: 1px solid rgba(12, 35, 64, 0.6);
    &:hover {
      text-decoration: none;
      color: #FE5000;
      border-color: #FE5000;
    }
  }

  &__soc {
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  &__soc-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }
  &__soc-link {
    border-radius: 4px;
    border: 1px solid rgba(12, 35, 64, 0.2);
    width: 40px;
    height: 40px;
    display: flex;
    transition: all .3s;
    .ic {
      margin: auto;
      fill: rgba(12, 35, 64, 0.6);
    }
    &:hover {
      border-color: $primary;
    }
  }

  @include media-breakpoint-down(md) {
    display: block;
    margin-left: 0;
    &__soc-item {
      margin-left: 0;
      margin-right: 5px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 18px 20px 16px;
    margin-bottom: 39px;
    &__title {
      font-size: 16px;
    }
    &__info {
      font-size: 14px;
    }
    &__soc {
      margin-top: 2px;
      margin-bottom: 3px;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 18px;
        padding-bottom: 18px;
      }
    }
  }
}


