mixin b-flight()

  .b-flight
    .container
      .ui-list-links__container
        .ui-list-links__wrap
          ul.ui-list-links.ui-list-links_in-header.list-unstyled
            li.ui-list-links__item
              a.ui-list-links__link.active(href="#") Информация о рейсе
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Пассажирам с ОФВ
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Вылетающим
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Провожающим
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Представительства авиакомпаний
            li.ui-list-links__item.ui-list-links__item-external
              a.ui-list-links__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'globe', className: 'ic', iconWidth: '28', iconHeight: '28'})
                | Сезонное расписание

    .b-flight__inner.section-area.bg-gray
      .container
        .b-flight-main
          .b-flight-main__inner
            .b-flight-main__item.order-last
              .b-flight-main__title В полете
              .b-flight-main__info Статус
            .b-flight-main__item.d-md-block.d-none
              .b-flight-main__title 5 февраля
              .b-flight-main__info Дата
            .b-flight-main__item.b-flight-main__item_mr_lg
              .b-flight-main__title в 19:40
              .b-flight-main__info Отправление
            .b-flight-main__item
              .b-flight-main__title Узбекистон хаво йуллари
              .b-flight-main__info Авиакомпания
            .b-flight-main__item
              .b-flight-main__title SU  1042
              .b-flight-main__info Номер рейса

          .b-flight-main__footer
            .b-flight-main__footer-title Рейс совмещен :
            ul.b-flight-main__list.list-unstyled
              li.b-flight-main__list-item SU
                span.b-flight-main__list-number 2100
              li.b-flight-main__list-item UX
                span.b-flight-main__list-number 3245
              li.b-flight-main__list-item SU
                span.b-flight-main__list-number 2100
              li.b-flight-main__list-item UX
                span.b-flight-main__list-number 3245
              li.b-flight-main__list-item SU
                span.b-flight-main__list-number 2100
              li.b-flight-main__list-item UX
                span.b-flight-main__list-number 3245

        .b-flight-list
          .b-flight-list__item
            span.b-flight-list__number 1
            .b-flight-list__title В аэропорт
            .b-flight-list__time 04:10
            .b-flight-list__info Приезжайте за
              strong  2,5 часа
              |  до вылета в
              strong  Терминал 2.
          .b-flight-list__item
            span.b-flight-list__number 2
            .b-flight-list__title Регистрация
            .b-flight-list__time 00:40 – 06:00
            .b-flight-list__info
              p Рейс выполняют авиакомпании
                strong  «Аэрофлот»
                | ,
                strong  Air Serbia.
              p Возможность регистрации на рейс уточняйте в своей авиакомпании.
                |
                |
                a(href="#") Oнлайн-регистрация «Аэрофлот»,
                |
                |
                a(href="#") Oнлайн-регистрация Air Serbia.
              p Стойки самостоятельной сдачи багажа (для пассажиров авиакомпании «Аэрофлот»)
                strong  301-316
          .b-flight-list__item.active
            span.b-flight-list__number 3
            .b-flight-list__title Посадка
            .b-flight-list__time 06:08 – 06:20
            .b-flight-list__info Выход на посадку
              strong  Выход 2
          .b-flight-list__item.disabled
            span.b-flight-list__number 4
            .b-flight-list__title Отправление
            .b-flight-list__time 06:08 – 06:20
            .b-flight-list__info Ваш самолет
              strong  Boeing 737
          .b-flight-list__item.disabled
            span.b-flight-list__number 5
            .b-flight-list__title Вылет
            .b-flight-list__time 06:49
            .b-flight-list__info Время в пути —
              strong  1 час 5 минут
          .b-flight-list__item.disabled
            span.b-flight-list__number 6
            .b-flight-list__title Прибытие
            .b-flight-list__time 08:05
            .b-flight-list__info Вы прилетаете в город Санкт-Петербург (аэропорт «Пулково»)


  // end .b-flight
  |
  |



mixin b-flight-cancel()

  .b-flight
    .container
      .ui-list-links__wrap
        ul.ui-list-links.ui-list-links_in-header.list-unstyled
          li.ui-list-links__item
            a.ui-list-links__link.active(href="#") Информация о рейсе
          li.ui-list-links__item
            a.ui-list-links__link(href="#") Пассажирам с ОФВ
          li.ui-list-links__item
            a.ui-list-links__link(href="#") Вылетающим
          li.ui-list-links__item
            a.ui-list-links__link(href="#") Провожающим
          li.ui-list-links__item
            a.ui-list-links__link(href="#") Представительства авиакомпаний
          li.ui-list-links__item.ui-list-links__item-external
            a.ui-list-links__link(href="#")
              != pugHelpers.Icon.call(locals, {iconName: 'globe', className: 'ic', iconWidth: '28', iconHeight: '28'})
              | Сезонное расписание

    .b-flight__inner.section-area.bg-gray(class!=attributes.class)
      .container
        .b-flight-main
          .b-flight-main__inner
            .b-flight-main__item.order-last
              .b-flight-main__title В полете
              .b-flight-main__info Статус
            .b-flight-main__item
              .b-flight-main__title 5 февраля
              .b-flight-main__info Дата
            .b-flight-main__item.b-flight-main__item_mr_lg
              .b-flight-main__title в 19:40
              .b-flight-main__info Отправление
            .b-flight-main__item
              .b-flight-main__title Узбекистон хаво йуллари
              .b-flight-main__info Авиакомпания
            .b-flight-main__item
              .b-flight-main__title SU  1042
              .b-flight-main__info Номер рейса

          .b-flight-main__footer
            .b-flight-main__footer-title Рейс совмещен :
            ul.b-flight-main__list.list-unstyled
              li.b-flight-main__list-item SU
                span.b-flight-main__list-number 2100
              li.b-flight-main__list-item UX
                span.b-flight-main__list-number 3245
              li.b-flight-main__list-item SU
                span.b-flight-main__list-number 2100
              li.b-flight-main__list-item UX
                span.b-flight-main__list-number 3245
              li.b-flight-main__list-item SU
                span.b-flight-main__list-number 2100
              li.b-flight-main__list-item UX
                span.b-flight-main__list-number 3245

        .b-flight-list
          .b-flight-list__item
            span.b-flight-list__number 1
            .b-flight-list__title В аэропорт
            .b-flight-list__time 04:10
            .b-flight-list__info Приезжайте за
              strong  2,5 часа
              |  до вылета в
              strong  Терминал 2.
          .b-flight-list__item
            span.b-flight-list__number 2
            .b-flight-list__title Регистрация
            .b-flight-list__time 00:40 – 06:00
            .b-flight-list__info
              p Рейс выполняют авиакомпании
                strong  «Аэрофлот»,
                strong  Air Serbia.
              p Возможность регистрации на рейс уточняйте в своей авиакомпании.
                |
                |
                a(href="#") Oнлайн-регистрация «Аэрофлот»,
                |
                |
                a(href="#") Oнлайн-регистрация Air Serbia.
              p Стойки самостоятельной сдачи багажа (для пассажиров авиакомпании «Аэрофлот»)
                strong  301-316
          .b-flight-list__item
            span.b-flight-list__number 3
            .b-flight-list__title Посадка
            .b-flight-list__time 06:08 – 06:20
            .b-flight-list__info Выход на посадку
              strong  Выход 2
          .b-flight-list__item.active
            span.b-flight-list__number 4
            .b-flight-list__title Рейс отменен
            .b-flight-list__time —
            .b-flight-list__info
              p
                strong.text-primary Рейс SU 004 отменен
                |  авиакомпанией «Ижавиа». Телефон для связи  с представителем:
              p
                a.b-flight-list__phone(href="tel:74957304330" ) +7 (495) 730-43-30 <br>
                a.b-flight-list__phone(href="tel:79173444819" ) +7 (917) 34-44-819 <br>
                a.b-flight-list__phone(href="tel:73472295254") +7 (347) 229-52-54<br>
              p Согласно
                |
                |
                a(href="#") ФАП № 82,
                |  вам положено
                strong  горячее питание
                |  и
                strong  гостиница.
          .b-flight-list__item.disabled
            span.b-flight-list__number 5
            .b-flight-list__title Вылет
            .b-flight-list__time 06:49
            .b-flight-list__info Время в пути —
              strong  1 час 5 минут
          .b-flight-list__item.disabled
            span.b-flight-list__number 6
            .b-flight-list__title Прибытие
            .b-flight-list__time 08:05
            .b-flight-list__info Вы прилетаете в город Санкт-Петербург (аэропорт «Пулково»)


  // end .b-flight
  |
  |



