.b-flight {
  margin-top: 98px;

  @include media-breakpoint-down(sm) {
    margin-top: 31px;
    &__inner {
      margin-top: 40px;
    }
  }
}

.b-flight-main {
  background: #FFFFFF;
  border-radius: 4px;
  margin-left: 100px;
  padding: 30px 40px 16px;
  &__inner {
    display: flex;
    margin-bottom: 30px;
  }
  &__item {
    &:not(:first-child) {
      padding-right: 30px;
      margin-right: 30px;
      border-right: 1px dashed rgba(12, 35, 64, 0.4);
    }
    &.b-flight-main__item_mr_lg {
      padding-right: 40px;
      margin-right: 40px;
    }
  }
  &__title {
    font-family: Geometria;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 7px;
  }
  &__info {
    font-size: 16px;
  }
  &__footer {}
  &__footer-title {
    font-weight: bold;
    font-size: 14px;
    margin-right: 25px;
    display: inline-block;
  }
  &__list {
    font-size: 14px;
    display: inline-flex;
  }
  &__list-item {
    line-height: 1;
    &:not(:last-child) {
      padding-right: 15px;
      margin-right: 15px;
      border-right: 1px solid rgba(12, 35, 64, 0.2);
    }
  }
  &__list-number {
    font-weight: bold;
    margin-left: 6px;
  }

  @include media-breakpoint-down(md) {
    margin-left: 0;
    padding: 26px 20px;
    &__inner {
      display: block;
      margin-bottom: 16px;
    }
    &__item {
      margin-bottom: 14px;
      padding-bottom: 17px;
      border-bottom: 1px dashed rgba(12, 35, 64, 0.4);
      &:not(:nth-last-child(2)) {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
      }
      &:not(:last-child) {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
      }
    }
    &__title {
      font-size: 20px;
      margin-bottom: 3px;
      line-height: 1.3;
    }
    &__list {
      display: block;
      font-size: 13px;
    }
    &__list-item {
      display: inline-block;
      margin-bottom: 7px;
      color: rgba(12, 35, 64, 0.6);
      &:not(:last-child) {
        padding-right: 4px;
      }
    }
    &__footer-title {
      margin-bottom: 14px;
    }
    &__list-number {
      font-weight: 500;
      color: $main;
    }
  }

  @include media-breakpoint-down(sm) {
    &__list-item {
      &:not(:last-child) {
        border-right: none;
      }
    }
  }
}

.b-flight-list {
  margin-top: 80px;
  &__number {
    position: absolute;
    left: -102px;
    top: 28px;
    font-family: Geometria;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    color: #FFF;
    background-color: $main;
  }
  &__title {
    font-family: Geometria;
    font-size: 24px;
    flex: 0 0 290px;
    max-width: 290px;
    margin-right: 20px;
  }
  &__time {
    font-weight: 500;
    white-space: nowrap;
    flex: 0 0 260px;
    max-width: 260px;
    margin-right: 40px;
  }
  &__info {
    color: rgba(12, 35, 64, 0.8);
    flex: 0 0 710px;
    max-width: 710px;
    p {
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 19px;
      }
    }
    a {
      text-decoration: underline;
      color: $main;
      font-weight: 500;
      &:hover {
        color: $primary;
      }
    }
  }
  & &__phone {
    color: $main;
    text-decoration: none;
    font-weight: 700;
  }
  &__item {
    margin-left: 100px;
    position: relative;
    background-color: #fff;
    display: flex;
    border-radius: 4px;
    line-height: 1.25;
    padding: 25px 40px;
    align-items: baseline;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &:after {
      content: '';
      position: absolute;
      left: -90px;
      top: 64px;
      bottom: -47px;
      border: 1px dashed rgba(12, 35, 64, 0.2);
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
    strong {
      color: $main;
    }
    &.active {
      box-shadow: 0px 10px 30px rgba(98, 98, 98, 0.15);
      &:after {
        content: none;
      }
      .b-flight-list {
        &__title {
          color: $primary;
        }
        &__number {
          background-color: $primary;
        }
      }
    }
    &.disabled {
      opacity: 0.4;
      &:after {
        content: none;
      }
    }
  }


  @media (max-width:1599px) {
    &__info {
      max-width: 100%;
      flex: 0 0 auto;
      width: auto;
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  @include media-breakpoint-down(lg) {
    &__title {
      flex: 0 0 230px;
      max-width: 230px;
    }
    &__time {
      flex: 0 0 170px;
      max-width: 170px;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 53px;
    &__item {
      display: block;
      margin-left: 0;
      padding: 27px 20px 23px;
      &:not(:last-child) {
        margin-bottom: 52px;
      }
      &:after {
        left: 32px;
        top: -44px;
        bottom: 100%;
        margin-bottom: 19px;
      }
      &:first-child {
        &:after {
          display: none;
        }
      }
      &.active {
        .b-flight-list {
          &__title {
            color: $main;
          }
        }
      }
      &.active,
      &.disabled,
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
    &__title {
      max-width: 100%;
      font-size: 20px;
      margin-bottom: 6px;
    }
    &__time {
      max-width: 100%;
      margin-bottom: 17px;
    }
    &__info {
      max-width: 100%;
      line-height: 1.5;
      p {
        &:not(:last-child) {
          margin-bottom: 13px;
        }
      }
    }
    &__number {
      left: 20px;
      top: -12px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__info {
      a {
        display: block;
        line-height: 1.3;
      }
    }
  }
}
