.b-title-page {
  padding-top: 100px;
  &__wrap {
    position: relative;
    background:  url("../media/content/b-title-page/decor.png") no-repeat 1280px 0;
  }
  &__inner {
    display: flex;
    min-height: 141px;
    max-width: 1150px;
  }
  &__name {
    font-family: Geometria;
    font-size: 80px;
    line-height: 1.25;
    color: $main;
    position: relative;
    &_sm {
      font-size: 60px;
      margin-bottom: 30px;
    }
  }
  &__label {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.334;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid rgba(12, 35, 64, 0.2);
    padding: 9px 20px;
    border-radius: 7px;
    background-color: #FFF;
    margin-left: 21px;
    order: 1;
  }
  &__list-wrap {
    overflow-x: auto;
    overflow-y: hidden;
  }
  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  &__link {
    font-size: 60px;
    line-height: 1.3;
    font-family: Geometria;
    font-weight: bold;
    color: $main;
    padding: 0;
    &.active,
    &:hover {
      color: $primary;
    }
  }
  &__subtitle {
    font-size: 24px;
    line-height: 1.25;
    color: rgba(12, 35, 64, 0.8);
  }
  &__list {
    display: block;
    position: relative;
    top: 4px;
    &_sm {
      margin-bottom: 111px;
      padding-top: 12px;
      .b-title-page {
        &__item {
          margin-bottom: 18px;
        }
        &__link {
          font-size: 48px;
        }
      }
    }

    &_plus-filter {
      margin-bottom: 10px;
    }
  }

  &_sm {
    padding-top: 50px;
  }

  &_sm-bg & {
    &__wrap {
      background:  url("../media/content/b-title-page/decor.png") no-repeat 1430px 20px;
    }
  }

  &_sm-bg-2 & {
    &__wrap {
      background:  url("../media/content/b-title-page/decor.png") no-repeat 1430px 0;
    }
  }

  &_width_lg {
    .b-title-page__inner {
      max-width: 1230px;
    }
  }

  &_mod-a {
    padding-top: 80px;
    .b-title-page__inner {
      padding-top: 20px;
    }
  }

  &_mod-b {
    padding-top: 65px;
    margin-bottom: -7px;
    .b-title-page__inner {
      padding-top: 48px;
    }
  }

  &_plus_list {
    .b-title-page__list_sm {
      margin-bottom: 111px;
    }
  }


  @media (max-width:1439px) {
    &__wrap {
      background: none;
    }
  }

  @include media-breakpoint-down(lg) {
    &__list {
      white-space: nowrap;
    }
  }

  @include media-breakpoint-down(lg) {
    &__wrap_over_list {
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 51.04%, #FFFFFF 100%);
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: 50px;
    &__name {
      font-size: 60px;
    }
    &__inner {
      display: block;
    }
    &__label {
      margin-left: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 140px;
    &__inner {
      min-height: 0;
    }
    &__list-wrap {
      position: relative;
      margin-right: -20px;
    }
    &__name {
      font-size: 32px;
      margin-right: -2px;
    }
    &__link {
      font-size: 32px;
    }
    &__label {
      font-size: 11px;
      margin-left: 0;
      border-radius: 4px;
      padding: 2px 6px;
      margin-bottom: 4px;
      display: inline-block;
    }
    &__item:not(:last-child) {
      margin-right: 20px;
    }
    &__list {
      top: 0;
      padding-top: 0;
      &_sm {
        margin-bottom: 10px;
        .b-title-page {
          &__link {
            font-size: 32px;
          }
        }
      }
    }
    &__subtitle {
      font-size: 20px;
      margin-top: 19px;
    }

    &_sm {
      padding-top: 169px;
    }

    &_mod-a {
      padding-top: 105px;
      .b-title-page__inner {
        padding-top: 36px;
        padding-bottom: 14px;
      }
    }

    &_mod-b {
      padding-top: 90px;
      .b-title-page__inner {
      }
    }

    &_mod-c {
      padding-top: 139px;
    }
  }
}
