mixin b-contacts()

  .b-contacts
    .container
      .ui-list-links__container
        .ui-list-links__wrap
          ul.ui-list-links.ui-list-links_in-header.list-unstyled
            li.ui-list-links__item
              a.ui-list-links__link.active(href="#") Все
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Оперативная помощь
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Обслуживание пассажиров
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Государственные органы


    .b-contacts__inner.bg-gray-light
      .container
        section.section-contact
          .ui-title-wrap
            h2.ui-title Оперативная помощь
          .row
            .b-card-3.col-xl-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'click', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Полиция
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295202") +7 (347) 229-52-02
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295902") +7 (347) 229-59-02
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:02") 02
                    .b-card-3__footer-info Экстренная помощь

            .b-card-3.col-xl-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'click', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Здравпункт
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295510") +7 (347) 229-55-10
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295503") +7 (347) 229-55-03
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:03") 03
                    .b-card-3__footer-info Экстренная помощь


        section.section-contact
          .ui-title-wrap
            h2.ui-title Обслуживание пассажиров
          .row
            .b-card-3.b-card-3_mod-vert.col-xl-3.col-lg-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Приемная
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295445") +7 (347) 229-54-45
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472728300") +7 (347) 272-83-00
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472730609") +7 (347) 273-06-09
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="mailto:mau@airportufa.ru") mau@airportufa.ru
                    .b-card-3__footer-info Эл.почта

            .b-card-3.b-card-3_mod-vert.col-xl-3.col-lg-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Справочная
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+88002006602") +8 (800) 200-66-02
                    .b-card-3__footer-info Круглосуточно

            .b-card-3.b-card-3_mod-vert.col-xl-3.col-lg-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Кассы
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295814") +7 (347) 229-58-14
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295772") +7 (347) 229-57-72
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295189") +7 (347) 229-51-89
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295421") +7 (347) 229-54-21
                    .b-card-3__footer-info Круглосуточно

            .b-card-3.b-card-3_mod-vert.col-xl-3.col-lg-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title VIP-зал
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295506") +7 (347) 229-55-06
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472722420") +7 (347) 272-24-20
                    .b-card-3__footer-info Круглосуточно

            .b-card-3.b-card-3_mod-vert.col-xl-3.col-lg-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Бизнес-залы
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295903") +7 (347) 229-59-03
                    .b-card-3__footer-info Терминал №1
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295990") +7 (347) 229-59-90
                    .b-card-3__footer-info Терминал №1

            .b-card-3.b-card-3_mod-vert.col-xl-3.col-lg-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Гостиница
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295584") +7 (347) 229-55-84
                    .b-card-3__footer-info Круглосуточно

            .b-card-3.b-card-3_mod-vert.col-xl-3.col-lg-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Комната матери и ребенка
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295646") +7 (347) 229-56-46
                    .b-card-3__footer-info Круглосуточно

            .b-card-3.b-card-3_mod-vert.col-xl-3.col-lg-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Грузовые перевозки
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="#") «Транстерминал-Аэро»
                    .b-card-3__footer-info Компания
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295569") +7 (347) 229-55-69
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295786") +7 (347) 229-57-86
                    .b-card-3__footer-info Круглосуточно


        section.section-contact
          .ui-title-wrap
            h2.ui-title Государственные органы
          .row
            .b-card-3.b-card-3_mod-vert.col-xl-3.col-lg-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Иммиграционный контроль
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295202") +7 (347) 229-52-02
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295202") +7 (347) 229-52-02
                    .b-card-3__footer-info Круглосуточно
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295202") +7 (347) 229-52-02
                    .b-card-3__footer-info Круглосуточно

            .b-card-3.b-card-3_mod-vert.col-xl-3.col-lg-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Ветеринарный и санитарный контроль
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472746843") +7 (347) 274-68-43
                    .b-card-3__footer-info Круглосуточно

            .b-card-3.b-card-3_mod-vert.col-xl-3.col-lg-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Пограничный контроль
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295876") +7 (347) 229-58-76
                    .b-card-3__footer-info Круглосуточно

            .b-card-3.b-card-3_mod-vert.col-xl-3.col-lg-6
              .b-card-3__wrap
                span.b-card-3__label
                  != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                .b-card-3__title Таможенный пост «Аэропорт Уфа»
                .b-card-3__footer
                  .b-card-3__footer-item
                    a.b-card-3__footer-link(href="tel:+73472295358") +7 (347) 229-53-58
                    .b-card-3__footer-info Круглосуточно

  // end .b-contacts
  |
  |

