mixin b-newspaper(img, title)

  .b-newspaper
    img.b-newspaper__img(src="assets/media/content/b-newspaper/" + img + '.jpg' , alt="фото")
    .b-newspaper__inner
      .b-newspaper__title= title
      a.b-newspaper__link(href="#")
        != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '16', iconHeight: '18'})
        | Скачать pdf, 1 МБ.


  // end .b-newspaper
  |
  |

