mixin navig()
  .collapse.navbar-collapse#navbarNav
    .header__mobile-group.d-lg-none.d-block
      .container
        .row
          .col-sm
            button.header-top__btn.header-top__btn_search(type="button")
              != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic', iconWidth: '24', iconHeight: '24'})
            button.header-top__btn.header-top__btn_accessibility(type="button")
              != pugHelpers.Icon.call(locals, {iconName: 'accessibility', className: 'ic', iconWidth: '20', iconHeight: '20'})

            .header-language.header-top__btn.dropdown
              a.header-language__link.dropdown-toggle(href="#" role="button" id="dropdownLangLinkMob" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                img.header-language__img.img-fluid(src="assets/media/general/language-en.png", alt="EN")
                span.header-language__name EN
                != pugHelpers.Icon.call(locals, {iconName: 'arr-down', className: 'ic', iconWidth: '10', iconHeight: '7'})

              .header-language__menu.dropdown-menu(aria-labelledby="dropdownLangLinkMob")
                a.header-language__item.header-language__link.dropdown-item(href="#")
                  img.header-language__img.img-fluid(src="assets/media/general/language-ru.png", alt="РУ")
                  span.header-language__name РУ

          .col-sm-auto
            a.header__phone(href="tel:+88002006602") +8 (800) 200-66-02
            a.header__phone(href="tel:+83472006602") +8 (347) 200-66-02

    .container
      .row.justify-content-between
        .col-xl-auto
          ul.main-menu.navbar-nav.list-num
            li.main-menu__item
              a.main-menu__link(href="#") Онлайн табло
                span.sr-only (текущая)
            li.main-menu__item
              a.main-menu__link(href="#") Сезонное расписание
            li.main-menu__item
              a.main-menu__link(href="#") Услуги
            li.main-menu__item
              a.main-menu__link(href="#") Информация
            li.main-menu__item
              a.main-menu__link(href="#") Контакты
            li.main-menu__item
              a.main-menu__link.main-menu__link_sm(href="#") Об аэропорте
            li.main-menu__item
              a.main-menu__link.main-menu__link_sm(href="#") Партнерам
            li.main-menu__item
              a.main-menu__link.main-menu__link_sm(href="#") Пресс-центр

        .col-xl-6
          .header-nav__cards
            .row.row_sm-mrg
              .col-md-6
                a.header-card(href="#")
                  span.header-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'tickets-2', className: 'ic', iconWidth: '40', iconHeight: '40'})
                  .header-card__title Купить билет
              .col-md-6
                a.header-card(href="#")
                  span.header-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'parking-2', className: 'ic', iconWidth: '40', iconHeight: '40'})
                  .header-card__title Парковки
              .col-md-6
                a.header-card(href="#")
                  span.header-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'map-2', className: 'ic', iconWidth: '40', iconHeight: '40'})
                  .header-card__title Представительства авиакомпаний
              .col-md-6
                a.header-card(href="#")
                  span.header-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'map-2', className: 'ic', iconWidth: '40', iconHeight: '40'})
                  .header-card__title Как добраться
              .col-md-6
                a.header-card(href="#")
                  span.header-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'map-2', className: 'ic', iconWidth: '40', iconHeight: '40'})
                  .header-card__title Схема аэропорта
              .col-md-6
                a.header-card(href="#")
                  span.header-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'doc', className: 'ic', iconWidth: '40', iconHeight: '40'})
                  .header-card__title Обратная связь
              .col-md-6
                a.header-card(href="#")
                  span.header-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'earth', className: 'ic', iconWidth: '40', iconHeight: '40'})
                  .header-card__title Онлайн-регистрация
              .col-md-6
                a.header-card(href="#")
                  span.header-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'doc', className: 'ic', iconWidth: '40', iconHeight: '40'})
                  .header-card__title Тайный пассажир

    .container
      .b-main-links
        a.b-main-links__item(href="#")
          .b-main-links__title Вылет
          .b-main-links__info Вылетающим и прилетающим
        a.b-main-links__item(href="#")
          .b-main-links__title Прилет
          .b-main-links__info Прилетающим и встречающим
        a.b-main-links__item(href="#")
          .b-main-links__title Трансфер и транзит
          .b-main-links__info Совершающим пересадку
  // end .navig
  |
  |
