mixin b-press()

  .b-press
    .b-press__inner.section-area.bg-gray
      .container

        .tab-content#newsTabContent
          .tab-pane.fade#news(role="tabpanel" aria-labelledby="news-tab")

            .row
              .col-xl-7
                +b-news-2('Аэропорт «Уфа» прошел проверку на доступность среды для людей с ограниченными физическими возможностями', '01 апр. 2019 г.')
                +b-news-2('Из аэропорта «Уфа» открываются прямые рейсы в Вену ', '01 апр. 2019 г.')
                +b-news-2('Аэропорт «Уфа» встретил первый рейс авиакомпании Georgian Airways ', '01 апр. 2019 г.')

            .row.align-items-center
              .col
                button.b-press__more.btn.btn-default(type="button") Загрузить еще
                span.b-press__note Архив релизов от 2014 г.


        .tab-content#newspaperTabContent
          .tab-pane.fade.show.active#newspaper(role="tabpanel" aria-labelledby="newspaper-tab")

            section.row
              .col-xl-5
                h2.ui-title-inner Корпоративная газета «Воздушный мост»
                .b-newspaper-group
                  +b-newspaper('19-2', '№2 (281), Март 2019')
                  +b-newspaper('19-1', '№1 (280), Февраль 2019')
                  +b-newspaper('18-8', '№8 (279), Декабрь 2018')
                  +b-newspaper('18-7', '№7 (278), Декабрь 2018')
                button.b-press__more.btn.btn-default(type="button") Загрузить еще


  // end .b-press
  |
  |

mixin b-press-news()

  .b-press
    .b-press__inner.section-area.bg-gray-light
      .container

        .tab-content#newsTabContent
          .tab-pane.fade.show.active#news(role="tabpanel" aria-labelledby="news-tab")

            .row
              .col-xl-7
                +b-news-2('Аэропорт «Уфа» прошел проверку на доступность среды для людей с ограниченными физическими возможностями', '01 апр. 2019 г.')
                +b-news-2('Из аэропорта «Уфа» открываются прямые рейсы в Вену ', '01 апр. 2019 г.')
                +b-news-2('Аэропорт «Уфа» встретил первый рейс авиакомпании Georgian Airways ', '01 апр. 2019 г.')

            .row.align-items-center
              .col
                button.b-press__more.btn.btn-default(type="button") Загрузить еще
                span.b-press__note Архив релизов от 2014 г.


        .tab-content#newspaperTabContent
          .tab-pane.fade#newspaper(role="tabpanel" aria-labelledby="newspaper-tab")

            .row
              .col-xl-5
                .b-newspaper-group
                  +b-newspaper('19-2', '№2 (281), Март 2019')
                  +b-newspaper('19-1', '№1 (280), Февраль 2019')
                  +b-newspaper('18-8', '№8 (279), Декабрь 2018')
                  +b-newspaper('18-7', '№7 (278), Декабрь 2018')
                button.b-press__more.btn.btn-default(type="button") Загрузить еще


  // end .b-press
  |
  |

