mixin b-feedback()

  form.b-feedback.section-area.bg-gray-light.ui-form.needs-validation(novalidate)
    .container
      .row.justify-content-between
        .col-xl-5
          .ui-title-inner Напишите нам

          .b-feedback__radio-group.form-group
            .ui-label кем вы являетесь
            .ui-radio-group
              .b-feedback__radio.custom-control.custom-radio.custom-control-inline
                input.custom-control-input#feedbackRadioPassenger(type="radio" name="customRadio" checked)
                label.custom-control-label(for="feedbackRadioPassenger") Пассажир
              .b-feedback__radio.custom-control.custom-radio.custom-control-inline
                input.custom-control-input#feedbackRadioVisitor(type="radio" name="customRadio")
                label.custom-control-label(for="feedbackRadioVisitor") Посетитель
              .b-feedback__radio.custom-control.custom-radio.custom-control-inline
                input.custom-control-input#feedbackRadioOrganization(type="radio" name="customRadio")
                label.custom-control-label(for="feedbackRadioOrganization") Организация

          .form-group
            .ui-input
              input.ui-input__field.form-control.js-input#feedbackName(type="text" required value="Никита")
              button.ui-input__clear.js-input-clear(type="button")
                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '26', iconHeight: '26'})
              label.ui-input__label(for="feedbackName")
                span.ui-input__label-content Как вас зовут
              .invalid-feedback Поле не заполненно
          .form-group
            .ui-input
              input.ui-input__field.form-control.js-input#feedbackPhone(type="tel" required)
              button.ui-input__clear.js-input-clear(type="button")
                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '26', iconHeight: '26'})
              label.ui-input__label(for="feedbackPhone")
                span.ui-input__label-content Телефон
              .invalid-feedback Поле не заполненно
          .form-group
            .ui-input
              input.ui-input__field.form-control.js-input#feedbackEmail(type="email" required)
              button.ui-input__clear.js-input-clear(type="button")
                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '26', iconHeight: '26'})
              label.ui-input__label(for="feedbackEmail")
                span.ui-input__label-content Электронная почта
              .invalid-feedback Поле не заполненно
          .row
            .col-xl-6
              .form-group
                .ui-input
                  input.ui-input__field.form-control.js-input.is-flight#feedbackFlightNumber(type="text" required)
                  button.ui-input__clear.js-input-clear(type="button")
                    != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '26', iconHeight: '26'})
                  label.ui-input__label(for="feedbackFlightNumber")
                    span.ui-input__label-content Номер рейса
                  .invalid-feedback Поле не заполненно
            .col-xl-6
              .form-group
                .ui-input
                  label.ui-input__label(for="feedbackDate")
                    span.ui-input__label-content Дата рейса
                    != pugHelpers.Icon.call(locals, {iconName: 'date', className: 'ic ic-date fill-gray', iconWidth: '26', iconHeight: '26'})
                  input#feedbackDate.ui-input__field.form-control.js-input.js-date(type="text" autocomplete="off"  value ="today();" required)
                  .invalid-feedback Поле не заполненно
          .form-group
            .ui-input
              input.ui-input__field.form-control.js-input#feedbackFlight(type="text" required)
              button.ui-input__clear.js-input-clear(type="button")
                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '26', iconHeight: '26'})
              label.ui-input__label(for="feedbackFlight")
                span.ui-input__label-content Направление рейса
              .invalid-feedback Поле не заполненно
          .form-group
            select.js-select(data-width="100%"  data-style="ui-select-2" required)
              option(value="") Выберите тему*
              option(value="") Тема 1
              option(value="") Тема 2
            .invalid-feedback Поле не заполненно
          .form-group
            .ui-input
              input.ui-input__field.form-control.js-input#feedbackMessage(type="text" required)
              button.ui-input__clear.js-input-clear(type="button")
                != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '26', iconHeight: '26'})
              label.ui-input__label(for="feedbackMessage")
                span.ui-input__label-content Текст сообщения*
              .invalid-feedback Поле не заполненно

          button.b-feedback__submit.btn.btn-primary.btn-lg Отправить

          .ui-form__note Указывая в обращении свои персональные данные и нажимая на кнопку «Отправить», вы тем самым даете
            |
            |
            a.ui-form__note-link(href="#") согласие на их обработку
            | , включая передачу должностным лицам АО «МАУ», других предприятий и организаций, к компетенции которых относятся поставленные в обращении вопросы.


        .col-xl-3.d-xl-block.d-none
          aside.b-card-links
            .b-card-links__item
              .b-card-links__title Персональные данные
              a.b-card-links__info(href="#") Ознакомиться
            .b-card-links__item
              .b-card-links__title Политика безопасности ПДН
              a.b-card-links__info(href="#") Ознакомиться
            .b-card-links__item
              a.b-card-links__title(href="tel:+88002006602") +8 (800) 200-66-02
              .b-card-links__info Справочная служба


  // end .b-feedback
  |
  |

