mixin b-search()

  .b-search
    .container
      .ui-list-links__container
        .ui-list-links__wrap
          ul.ui-list-links.ui-list-links_in-header.list-unstyled
            li.ui-list-links__item
              a.ui-list-links__link.active(href="#") Все результаты : 12
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Информация : 4
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Партнерам : 1
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Публикации : 3

    .b-search__inner.section-area.bg-gray
      .container
        .row
          .col-xl-7
            section.b-search__section
              h2.ui-title-inner Информация
              ul.b-search-list.list-unstyled
                li.b-search-list__item
                  a.b-search-list__link(href="#") Потерялся ребенок
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
                li.b-search-list__item
                  a.b-search-list__link(href="#") Задержан или отменен рейс
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
                li.b-search-list__item
                  a.b-search-list__link(href="#") Потерян или поврежден багаж
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
                li.b-search-list__item
                  a.b-search-list__link(href="#") Забыли вещи в самолете или аэропорту
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
                li.b-search-list__item
                  a.b-search-list__link(href="#") Вымогательство
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
                li.b-search-list__item
                  a.b-search-list__link(href="#") Здравпункт
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})

            section.b-search__section
              h2.ui-title-inner Партнерам
              ul.b-search-list.list-unstyled
                li.b-search-list__item
                  a.b-search-list__link(href="#") Для арендаторов
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})

            section.b-search__section
              h2.ui-title-inner Публикации
              ul.b-search-list.list-unstyled
                li.b-search-list__item
                  a.b-search-list__link(href="#") Правила для пассажиров: «Аэрофлот» вносит изменения в правила перевозки
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
                li.b-search-list__item
                  a.b-search-list__link(href="#") «Газпром нефть» заправила 5-миллионную тонну авиатоплива в Аэропорте
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
                li.b-search-list__item
                  a.b-search-list__link(href="#") Инспекторы будут контролировать соблюдение новых правил поведения
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})

  // end .b-search
  |
  |

