mixin b-main()

  .b-main
    .container
      .b-main__inner
        .b-main__wrap
          h1.ui-title-page Международный<br>аэропорт
            span.text-primary  «Уфа»
          .b-main-links
            a.b-main-links__item(href="#")
              .b-main-links__title Вылет
              .b-main-links__info Вылетающим и прилетающим
            a.b-main-links__item(href="#")
              .b-main-links__title Прилет
              .b-main-links__info Прилетающим и встречающим
            a.b-main-links__item(href="#")
              .b-main-links__title Трансфер и транзит
              .b-main-links__info Совершающим пересадку

  // end .b-main
  |
  |

