.b-main {
  margin-top: 60px;
  background: #FFF url("../media/content/b-main/bg.jpg") no-repeat 100% 0;
  background-size: contain;
  &__inner {
    display: flex;
    align-items: flex-end;
    // height: 980px;
    height: calc(100vh - 60px);
    padding-bottom: 116px;
  }

  @media (max-width:1599px) and (min-width:1200px) {
    background-size: 50% auto;
    background-position: 100% 50%;
  }


  @include media-breakpoint-down(lg) {
    background: #fff;
    &__inner {
      height: auto;
      padding-top: 180px;
      padding-bottom: 116px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__inner {
      padding-top: 137px;
      padding-bottom: 39px;
    }
  }
}

.b-main-links {
  margin-top: 66px;
  &__item {
    min-width: 260px;
    margin-right: 40px;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
    &:hover {
      .b-main-links {
        &__title {
          color: $primary;
        }
        &__info {
          color: $main;
        }
      }
    }
  }
  &__title {
    font-family: Geometria;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: $main;
    display: inline-block;
    margin-bottom: 10px;
    transition: all .3s;
  }
  &__info {
    font-size: 16px;
    color: rgba(12, 35, 64, 0.6);
    transition: all .3s;
  }
  &__img {
    width: 100%;
  }

  @include media-breakpoint-down(lg) {
    &__item {
      display: block;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 28px;
    &__title {
      font-size: 24px;
      margin-bottom: 3px;
    }
    &__info {
      font-size: 14px;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
