mixin b-modal-warning()

  .ui-modal.modal.fade#modalWarning(tabindex="-1" role="dialog" aria-labelledby="modalWarningLabel" aria-hidden="true"  data-backdrop="static")
    .modal-dialog.modal-dialog-centered(role="document")
      .b-modal-warning.modal-content
        .modal-header
          .modal-title#modalWarningLabel Внимание!
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body По вопросам выполнения рейсов в Грузию просим обращаться в представительство Georgian Airways агентство «Аксима», тел.:
          |
          |
          a.b-modal-warning__link(href="tel:83472741851") 8(347)274-18-51

        .modal-footer
          a.btn.btn-primary(href="#") Подробнее
          button.btn.btn-no-bg.mt-4.mt-sm-0(type="button" data-dismiss="modal") Закрыть сообщение

  // end .b-modal-warning
  |
  |

