doctype html
html(lang="ru")

  include ../components/loader/loader
  include ../components/head/head
  include ../components/header/header
  include ../components/navig/navig
  include ../components/footer/footer
  include ../components/b-modal-warning/b-modal-warning
  include ../components/b-modal-swipe/b-modal-swipe
  include ../components/b-card/b-card

  block head

  body

    //- block loader
    //-   +loader()

    if bgGray
      .l-theme.bg-gray
        .l-wrap

          block header

          block content

        +footer()

    else
      .l-theme
        .l-wrap

          block header

          block content

        +footer()


      +b-modal-warning()
      +b-modal-swipe()


    // end .l-theme

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();


    // ++++++++++++
    // MAIN SCRIPTS
    // ++++++++++++


    //- script(src="https://code.jquery.com/jquery-3.3.1.min.js"
    //- integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    //- crossorigin="anonymous")
    //- script(src="https://code.jquery.com/jquery-migrate-1.4.1.min.js")

    //- // Bootstrap
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")


    // Input effects
    script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

    // Main script
    script(src='assets/js/main.js')

    block scripts

    // User customization
    script(src='assets/js/custom.js')




