extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-about/b-about


block head
  head
    +head(head.home)

  -  var bgGray = true;


block header
  +header('')


block content

  .container.d-none.d-md-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item.active(aria-current="page") О компании


  .b-title-page.b-title-page_sm-bg-2.b-title-page_mod-b
    .b-title-page__wrap
      .container
        .b-title-page__inner.align-items-center
          h1.b-title-page__name О компании


  main.l-main

    +b-about()
