extends _template.pug

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container

      .section-default.text-center.pb-5
        h1 Страницы
        ol.list-page(style="text-align: left;")
          li
            a.text-success(href="index.html" target="_blank") Главная
          li
            a.text-success(href="scoreboard.html" target="_blank") Онлайн-табло
          li
            a.text-success(href="flight.html" target="_blank") Рейс
          li
            a.text-success(href="flight-cancel.html" target="_blank") Рейс отменен
          li
            a.text-success(href="schedule.html" target="_blank") Расписание
          li
            a.text-success(href="card-sez.html" target="_blank")  Карточка - сезонное расписание
          li
            a.text-success(href="services.html" target="_blank") Услуги
          li
            a.text-success(href="services-item.html" target="_blank") Страница услуги
          li
            a.text-success(href="contacts.html" target="_blank") Контакты
          li
            a.text-success(href="search.html" target="_blank") Поиск
          li
            a.text-success(href="search-full.html" target="_blank") Поиск  с контентом
          li
            a.text-success(href="regulations.html" target="_blank") Правила
          li
            a.text-success(href="feedback.html" target="_blank") Обратная связь
          li
            a.text-success(href="news.html" target="_blank") Новости
          li
            a.text-success(href="newspaper.html" target="_blank") Корпоративная газета
          li
            a.text-success(href="news-item.html" target="_blank") Страница новостей
          li
            a.text-success(href="news-item-anim.html" target="_blank") Страница новостей анимация
          li
            a.text-success(href="page.html" target="_blank") Страница
          li
            a.text-success(href="about.html" target="_blank") О компании
          li
            a.text-success(href="ui.html" target="_blank") UI

  .page__buffer
