extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-card-sez/b-card-sez

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container.d-none.d-sm-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item
          a(href="#") сезонное расписание
        li.breadcrumb-item.active(aria-current="page") санкт-петербург


  .b-title-page
    .b-title-page__wrap
      .container
        .b-title-page__inner.align-items-center
          h1.b-title-page__name Санкт-Петербург

  main.l-main

    +b-card-sez()
