extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-contacts/b-contacts

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container.d-none.d-sm-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item.active(aria-current="page") контакты


  .b-title-page.b-title-page_sm-bg-2
    .b-title-page__wrap
      .container
        .b-title-page__inner.align-items-center
          h1.b-title-page__name.b-title-page__name_sm Контакты

  main.l-main

    +b-contacts()
