extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-feedback/b-feedback

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container.d-none.d-sm-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item.active(aria-current="page") Обратная связь



  .b-title-page.b-title-page_sm-bg
    .b-title-page__wrap.b-title-page__wrap_over_list.align-items-end
      .container
        .b-title-page__inner.align-items-end
          .b-title-page__list-wrap
            ul.b-title-page__list.b-title-page__list_sm.nav#faqTab(role="tablist")
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link#regulations-tab(data-toggle="tab" href="#regulations" role="tab" aria-controls="regulations" aria-selected="true") Правила обращений
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link.active#help-tab(data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false") Форма обратной связи
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link#help-tab(data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false") Тайный пассажир

  main.l-main

    +b-feedback()
