extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-flight/b-flight

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container.d-none.d-sm-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item
          a(href="#") онлайн табло
        li.breadcrumb-item.active(aria-current="page") вылет


  .b-title-page
    .b-title-page__wrap
      .container
        .b-title-page__inner.align-items-center
          span.b-title-page__label LED
          h1.b-title-page__name Санкт-Петербург


  main.l-main

    +b-flight()
