extends _template.pug

include ../components/b-main/b-main
include ../components/b-news/b-news

block head
  head
    +head(head.home)


block header
  +header('')


block content
  main.l-main
    +b-main()

    section.section-default.bg-gray
      .container
        .ui-title-wrap
          .row.align-items-baseline
            .col-xl
              h2.ui-title Предложения для
                span.text-primary  пассажиров
            .col-xl-auto
              .ui-list-links__container.ui-list-links__container_gray
                .ui-list-links__wrap
                  ul.ui-list-links.list-unstyled
                    li.ui-list-links__item
                      a.ui-list-links__link(href="#") Табло рейсов
                    li.ui-list-links__item
                      a.ui-list-links__link(href="#") Парковка
                    li.ui-list-links__item
                      a.ui-list-links__link(href="#") Схема аэропорта
                    li.ui-list-links__item.ui-list-links__item-main
                      a.ui-list-links__link(href="#")
                        != pugHelpers.Icon.call(locals, {iconName: 'burger', className: 'ic', iconWidth: '20', iconHeight: '20'})
                        | Все услуги

        .row
          .col-xl-6
            .row
              .col-md-6
                a.b-card(href="#")
                  span.b-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'tickets', className: 'ic', iconWidth: '60', iconHeight: '60'})
                  .b-card__title Купить авиабилет
                  .b-card__info Подробнее
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              .col-md-6
                a.b-card(href="#")
                  span.b-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'ic', iconWidth: '60', iconHeight: '57.24'})
                  .b-card__title VIP-обслуживание
                  .b-card__info Подробнее
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              .col-md-6
                a.b-card(href="#")
                  span.b-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'disabled-sign', className: 'ic', iconWidth: '60', iconHeight: '60'})
                  .b-card__title Пассажирам с&nbsp;ОФВ
                  .b-card__info Подробнее
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              .col-md-6
                a.b-card(href="#")
                  span.b-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'parking', className: 'ic', iconWidth: '60', iconHeight: '60'})
                  .b-card__title Парковки
                  .b-card__info Подробнее
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              .col-md-6
                a.b-card(href="#")
                  span.b-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'click', className: 'ic', iconWidth: '60', iconHeight: '60'})
                  .b-card__title Онлайн-регистрация
                  .b-card__info Подробнее
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              .col-md-6
                a.b-card(href="#")
                  span.b-card__label
                    != pugHelpers.Icon.call(locals, {iconName: 'case', className: 'ic', iconWidth: '60', iconHeight: '60'})
                  .b-card__title Работа в&nbsp;аэропорту
                  .b-card__info Подробнее
                    != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})

          .col-xl-6
            .row.flex-xl-wrap-reverse
              .col-12
                .row
                  .col-md-6
                    a.b-card(href="#")
                      span.b-card__label
                        != pugHelpers.Icon.call(locals, {iconName: 'package', className: 'ic', iconWidth: '60', iconHeight: '60'})
                      .b-card__title Грузоперевозки
                      .b-card__info Подробнее
                        != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
                  .col-md-6
                    a.b-card(href="#")
                      span.b-card__label
                        != pugHelpers.Icon.call(locals, {iconName: 'spy', className: 'ic', iconWidth: '60', iconHeight: '60'})
                      .b-card__title Тайный пассажир
                      .b-card__info Подробнее
                        != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})

              .col-12
                .b-card-slider.js-slider(data-slick='{"arrows": false, "dots": true}')
                  .b-card-lg
                    a.b-card-lg__inner(href="#")
                      img.b-card-lg__label(src="assets/media/content/b-card/label/1.png", alt="S7")
                      .b-card-lg__img
                        img.img-fluid(src="assets/media/content/b-card/500x490/1.jpg", alt="фото")
                      .b-card-lg__wrap
                        .b-card-lg__title Из Уфы
                          span.text-primary  в&nbsp;Турцию <br>
                          |  на летние каникулы
                        .b-card-lg__subtitle Путешествие, доступное каждому
                        .b-card-lg__info
                  .b-card-lg
                    a.b-card-lg__inner(href="#")
                      img.b-card-lg__label(src="assets/media/content/b-card/label/1.png", alt="S7")
                      .b-card-lg__img
                        img.img-fluid(src="assets/media/content/b-card/500x490/1.jpg", alt="фото")
                      .b-card-lg__wrap
                        .b-card-lg__title Из Уфы
                          span.text-primary  в&nbsp;Турцию <br>
                          |  на летние каникулы
                        .b-card-lg__subtitle Путешествие, доступное каждому
                        .b-card-lg__info
                  .b-card-lg
                    a.b-card-lg__inner(href="#")
                      img.b-card-lg__label(src="assets/media/content/b-card/label/1.png", alt="S7")
                      .b-card-lg__img
                        img.img-fluid(src="assets/media/content/b-card/500x490/1.jpg", alt="фото")
                      .b-card-lg__wrap
                        .b-card-lg__title Из Уфы
                          span.text-primary  в&nbsp;Турцию <br>
                          |  на летние каникулы
                        .b-card-lg__subtitle Путешествие, доступное каждому
                        .b-card-lg__info


    .section-bnrs.bg-gray
      .container
        .row
          .col-lg-6
            .b-bnr-slider.js-slider(data-slick='{"arrows": false, "dots": true}')
              a.b-bnr(href="#")
                .b-bnr__wrap
                  picture
                    source(srcset="assets/media/content/b-bnr/1-mob.png" media="(max-width: 767px)")
                    img.b-bnr__img.img-scale(src="assets/media/content/b-bnr/1.png", alt="фото")

                  span.b-bnr__label Парковка: c3
                  .b-bnr__inner
                    .row
                      .col-xl-6
                        .b-bnr__title
                          span.text-primary Парковка 50 ₽<br>
                          |  за 30 мин.
                        .b-bnr__info Сутки - 300 ₽
              a.b-bnr(href="#")
                .b-bnr__wrap
                  picture
                    source(srcset="assets/media/content/b-bnr/1-mob.png" media="(max-width: 767px)")
                    img.b-bnr__img.img-scale(src="assets/media/content/b-bnr/1.png", alt="фото")

                  span.b-bnr__label Парковка: c3
                  .b-bnr__inner
                    .row
                      .col-xl-6
                        .b-bnr__title
                          span.text-primary Парковка 50 ₽<br>
                          |  за 30 мин.
                        .b-bnr__info Сутки - 300 ₽
              a.b-bnr(href="#")
                .b-bnr__wrap
                  picture
                    source(srcset="assets/media/content/b-bnr/1-mob.png" media="(max-width: 767px)")
                    img.b-bnr__img.img-scale(src="assets/media/content/b-bnr/1.png", alt="фото")

                  span.b-bnr__label Парковка: c3
                  .b-bnr__inner
                    .row
                      .col-xl-6
                        .b-bnr__title
                          span.text-primary Парковка 50 ₽<br>
                          |  за 30 мин.
                        .b-bnr__info Сутки - 300 ₽


          .col-lg-6
            .b-bnr-slider.js-slider(data-slick='{"arrows": false, "dots": true}')
              a.b-bnr.b-bnr_mod-1(href="#")
                .b-bnr__wrap
                  picture
                    source(srcset="assets/media/content/b-bnr/2-mob.png" media="(max-width: 767px)")
                    img.b-bnr__img.img-scale(src="assets/media/content/b-bnr/2.png", alt="фото")
                  img.b-bnr__item.img-scale(src="assets/media/content/b-bnr/item-1.png", alt="фото")
                  span.b-bnr__label Новый маршрут
                  .b-bnr__inner
                    .row
                      .col-xl-6
                        .b-bnr__title из Уфы
                          span.text-primary  в Париж
                        .b-bnr__info Два рейса в неделю
              a.b-bnr.b-bnr_mod-1(href="#")
                .b-bnr__wrap
                  picture
                    source(srcset="assets/media/content/b-bnr/2-mob.png" media="(max-width: 767px)")
                    img.b-bnr__img.img-scale(src="assets/media/content/b-bnr/2.png", alt="фото")
                  img.b-bnr__item.img-scale(src="assets/media/content/b-bnr/item-1.png", alt="фото")
                  span.b-bnr__label Новый маршрут
                  .b-bnr__inner
                    .row
                      .col-xl-6
                        .b-bnr__title из Уфы
                          span.text-primary  в Париж
                        .b-bnr__info Два рейса в неделю
              a.b-bnr.b-bnr_mod-1(href="#")
                .b-bnr__wrap
                  picture
                    source(srcset="assets/media/content/b-bnr/2-mob.png" media="(max-width: 767px)")
                    img.b-bnr__img.img-scale(src="assets/media/content/b-bnr/2.png", alt="фото")
                  img.b-bnr__item.img-scale(src="assets/media/content/b-bnr/item-1.png", alt="фото")
                  span.b-bnr__label Новый маршрут
                  .b-bnr__inner
                    .row
                      .col-xl-6
                        .b-bnr__title из Уфы
                          span.text-primary  в Париж
                        .b-bnr__info Два рейса в неделю



    section.section-news.section-default.bg-white
      .container
        .ui-title-wrap
          .row.align-items-baseline
            .col-xl
              h2.ui-title Новости
            .col-xl-auto
              .ui-list-links__container
                .ui-list-links__wrap
                  ul.ui-list-links.list-unstyled
                    li.ui-list-links__item
                      a.ui-list-links__link(href="#") Музей
                    li.ui-list-links__item
                      a.ui-list-links__link(href="#") Пресс-центр
                    li.ui-list-links__item.ui-list-links__item-main
                      a.ui-list-links__link(href="#")
                        != pugHelpers.Icon.call(locals, {iconName: 'burger', className: 'ic', iconWidth: '20', iconHeight: '20'})
                        | Все новости

        .row.justify-content-between
          .col-auto
            +b-news('Аэропорт «Уфа» прошел проверку на доступность среды для людей с ограниченными физическими возможностями ', '12 апр. 2019 г.')
          .col-auto
            +b-news('Из аэропорта «Уфа» открываются прямые рейсы в Вену ', '12 апр. 2019 г.')
          .col-auto
            +b-news('Аэропорт «Уфа» встретил первый рейс авиакомпании Georgian Airways ', '12 апр. 2019 г.')
          .col-auto
            +b-news('Аэропорт «Уфа» встретил первый рейс авиакомпании Georgian Airways ', '12 апр. 2019 г.')


    .section
      .row.no-gutters
        .col-lg-6
          .b-card-bg-slider.js-slider(data-slick='{"arrows": false, "dots": true}')
            a.b-card-bg(href="#")
              img.b-card-bg__img.img-scale(src="assets/media/content/b-card/960x1040/1.jpg", alt="фото")
              .b-card-bg__inner
                .b-card-bg__title Покорите красоты 
                  span.text-primary  Айгирских скал
                .b-card-bg__footer
                  .b-card-bg__info Внутренние направления
                  span.b-card-bg__link Подробности
            a.b-card-bg(href="#")
              img.b-card-bg__img.img-scale(src="assets/media/content/b-card/960x1040/1.jpg", alt="фото")
              .b-card-bg__inner
                .b-card-bg__title Покорите красоты 
                  span.text-primary  Айгирских скал
                .b-card-bg__footer
                  .b-card-bg__info Внутренние направления
                  span.b-card-bg__link Подробности
            a.b-card-bg(href="#")
              img.b-card-bg__img.img-scale(src="assets/media/content/b-card/960x1040/1.jpg", alt="фото")
              .b-card-bg__inner
                .b-card-bg__title Покорите красоты 
                  span.text-primary  Айгирских скал
                .b-card-bg__footer
                  .b-card-bg__info Внутренние направления
                  span.b-card-bg__link Подробности
        .col-lg-6
          .b-card-bg-slider.js-slider(data-slick='{"arrows": false, "dots": true}')
            a.b-card-bg(href="#")
              img.b-card-bg__img.img-scale(src="assets/media/content/b-card/960x1040/2.jpg", alt="фото")
              .b-card-bg__inner
                .b-card-bg__title Найдите гармонию  в&nbsp;солнечном
                  span.text-primary  ГОА
                .b-card-bg__footer
                  .b-card-bg__info Внешние направления
                  span.b-card-bg__link Подробности
            a.b-card-bg(href="#")
              img.b-card-bg__img.img-scale(src="assets/media/content/b-card/960x1040/2.jpg", alt="фото")
              .b-card-bg__inner
                .b-card-bg__title Найдите гармонию  в&nbsp;солнечном
                  span.text-primary  ГОА
                .b-card-bg__footer
                  .b-card-bg__info Внешние направления
                  span.b-card-bg__link Подробности
            a.b-card-bg(href="#")
              img.b-card-bg__img.img-scale(src="assets/media/content/b-card/960x1040/2.jpg", alt="фото")
              .b-card-bg__inner
                .b-card-bg__title Найдите гармонию  в&nbsp;солнечном
                  span.text-primary  ГОА
                .b-card-bg__footer
                  .b-card-bg__info Внешние направления
                  span.b-card-bg__link Подробности



    // .spinner-box
    //   .circle-border
    //     .circle-core
