extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-news-item/b-news-item
include ../components/b-news/b-news

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container.d-none.d-sm-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item
          a(href="#") о компании
        li.breadcrumb-item
          a(href="#") пресс-центр
        li.breadcrumb-item.active(aria-current="page") новости



  main.l-main

    +b-news-item_anim()
