extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-press/b-press
include ../components/b-news/b-news
include ../components/b-newspaper/b-newspaper

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container.d-none.d-sm-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item.active(aria-current="page") услуги


  .b-title-page.b-title-page_sm-bg.b-title-page_width_lg
    .b-title-page__wrap.b-title-page__wrap_over_list.align-items-end
      .container
        .b-title-page__inner.align-items-end
          .b-title-page__list-wrap
            ul.b-title-page__list.b-title-page__list_sm.nav#pressTab(role="tablist")
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link#news-tab(data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="true") Новости
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link СМИ о нас
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link Контакты для СМИ
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link Видео
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link Фото
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link.active#newspaper-tab(data-toggle="tab" href="#newspaper" role="tab" aria-controls="newspaper" aria-selected="false") Корпоративная газета
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link Музей

  .container
    .ui-list-links__container
      .ui-list-links__wrap
        ul.ui-list-links.ui-list-links_in-header.list-unstyled
          li.ui-list-links__item
            a.ui-list-links__link(href="#") Все года
          li.ui-list-links__item
            a.ui-list-links__link.active(href="#") 2019
          li.ui-list-links__item
            a.ui-list-links__link(href="#") 2018
          li.ui-list-links__item
            a.ui-list-links__link(href="#") 2017


  main.l-main

    +b-press()
