extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-services-item/b-services-item

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container.d-none.d-sm-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item
          a(href="#") о компании
        li.breadcrumb-item.active(aria-current="page") Общая информация


  main.l-main

    .user-content
      .container
        .row
          .col-xl-7
            h1 Общая информация
            .ui-slider.js-slider(data-slick='{"arrows": false, "dots": true}')
              img.img-fluid(src="assets/media/content/user-content/1.jpg", alt="фото")
              img.img-fluid(src="assets/media/content/user-content/1.jpg", alt="фото")
              img.img-fluid(src="assets/media/content/user-content/1.jpg", alt="фото")

            .lead АО «Международный аэропорт «Уфа» — современный авиационный комплекс, способный принимать воздушные суда всех типов, имеющий две взлетно-посадочные полосы и модернизированный аэродром. МАУ − первый региональный аэропорт России, подтвердивший свое соответствие производственным стандартам ISAGO (IATA Safety Audit for Ground Operations).

        .row
          .col-xl-5
            strong Международный аэропорт «Уфа» – основное связующее звено между республикой Башкортостан и федеральным центром, центрами федеральных округов.  Находится он на пересечении двух крупных автомобильных магистралей М5 и М7. Кроме того, МАУ является запасным аэродромом для всех аэропортов в радиусе 1000 км, в том числе, и для посадки транспортных и грузовых ВС.

            h2 1 место количеству обслуженных пассажиров

            p Международный аэропорт «Уфа» занимает 1 место количеству обслуженных пассажиров среди аэропортов ПФО (более 30% общего пассажиропотока).
            p По итогам национальной премии «Воздушные ворота России» аэропорт «Уфа» три года подряд признается лучшим в стране среди аэропортов с пассажиропотоком до 4 млн человек в год и лучшим по итогам пассажирского голосования. «Уфа» - единственный региональный аэропорт отмеченный авиационной премией «Крылья России». Эксперты авторитетного отраслевого агентства «АвиаПорт» присудили уфимскому аэропорту «четыре» звезды из пяти возможных за качество терминальной инфраструктуры и пассажирских сервисов.

            h2 Обладатель сертификата IATA ISAGO

            p Международный аэропорт «Уфа» - первый среди региональных аэропортов России обладатель сертификата  IATA  ISAGO, подтверждающего работу по высочайшим международным стандартам безопасности. Входит в десятку ведущих аэропортов России, один из крупнейших аэропортов в Приволжском федеральном округе РФ, пассажиропоток в год превышает 2,3 млн человек.  Партнерами аэропорта «Уфа» являются более 40 авиакомпаний, в том числе представители трех основных авиационных альянсов: SkyTeam, Star Alliance, Oneworld.
            p Авиакомпании Аэрофлот – РА, Сибирь, Россия, Ямал, Турецкие авиалинии, Чешские аэролинии, Узбекские авиалинии, Уральские авиалинии, Ижавиа, ЮВТ Аэро, ЮТэйр, Ред Вингз, Таймыр, Икар, Северный Ветер, Роял флайт, Азур эйр, Эллин эйр, Ангара, Красавиа и др.

            h2 Более 70 направлений

            p Маршрутная сеть авиаузла - более 70 направлений, включая 33 крупнейших города России. Самыми востребованными внутрироссийскими направлениями полетов из уфимского аэропорта являются: Москва, Санкт-Петербург, Казань, Сочи, Самара, Новосибирск. За последний год на внутренних линиях введено несколько новых направлений, таких как: Иркутск, Ханты-Мансийск, Геленджик, Ижевск, Чебоксары, Ульяновск, Ростов-на -Дону, Краснодар, Салехард, Надым, Тюмень, Нижний Новгород.
            p 8 популярных регулярных международных направлений: Прага, Стамбул, Анталия, Ташкент, Баку, Батуми, Душанбе, Худжанд.
            p 19 популярных чартерных туристических направлений в такие станы как Турция, Болгария, Греция, Тунис, о.Кипр, Таиланд, Индия, Вьетнам, ОАЭ, Израиль, Китай.
            p Терминал внутренних авиалиний занимает 12600 квадратных метров, оснащен 3 телетрапами и имеет пропускную способность 600 человек в час, имеет просторные залы ожидания и места отдыха.

            h2 Современный высокотехнологичный комплекс

            p Терминал внутренних авиалиний занимает 12600 квадратных метров, оснащен 3 телетрапами и имеет пропускную способность 600 человек в час, имеет просторные залы ожидания и места отдыха.
            p Терминал международных авиалиний представляет собой современный высокотехнологичный комплекс с пропускной способностью 800 человек в час. Его площадь составляет свыше 17 тысяч квадратных метров, что обеспечивает уровень комфорта обслуживания пассажиров стандарта «С» по классификации IATA. Категория  «Е»  ICAO позволяет принимать воздушные суда любого типа, в том числе,  Боинг-747, - 777.
            p В терминале установлено 13 стоек регистрации, 40 кабин паспортного контроля (прилет, вылет, VIP-обслуживание). Терминал оснащен тремя телескопическими трапами. Новое актуальное программное обеспечение, усовершенствованные модели базового и периферийного оборудования дают возможность полностью автоматизировать и оптимизировать работу всех технологических систем. Все помещения соответствуют требованиям безбарьерной среды и позволяют свободно передвигаться людям с ограниченными возможностями здоровья. На строительные работы,  длившиеся 1,5 года, было направлено 1,6 млрд рублей.

            h2 Все условия для комфортного пребывания в аэропорту

            p В терминале установлено 13 стоек регистрации, 40 кабин паспортного контроля (прилет, вылет, VIP-обслуживание). Терминал оснащен тремя телескопическими трапами. Новое актуальное программное обеспечение, усовершенствованные модели базового и периферийного оборудования дают возможность полностью автоматизировать и оптимизировать работу всех технологических систем. Все помещения соответствуют требованиям безбарьерной среды и позволяют свободно передвигаться людям с ограниченными возможностями здоровья. На строительные работы,  длившиеся 1,5 года, было направлено 1,6 млрд рублей.
            p МАУ создает все условия для комфортного пребывания в аэропорту пассажиров. Реализуется государственная программа «Доступная среда» − обслуживание пассажиров с ограниченными физическими возможностями.
            p На сегодняшний день авиация в Башкортостане сохраняет за собой статус превалирующего вида транспорта перед остальными в части сохранения времени и комфорта пассажиров.
