extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-schedule/b-schedule

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container.d-none.d-sm-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item
          a(href="#") онлайн табло
        li.breadcrumb-item.active(aria-current="page") вылет


  .b-title-page
    .b-title-page__wrap
      .container
        .b-title-page__inner.align-items-center
          h1.b-title-page__name Сезонное расписание

  .container
    form.ui-search.ui-search_plus-list
      != pugHelpers.Icon.call(locals, {iconName: 'search-2', className: 'ic', iconWidth: '15', iconHeight: '15'})
      input.ui-search__input.js-search-mobile(type="text" placeholder="Поиск по направлению")

  main.l-main

    +b-schedule()
