extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-scoreboard/b-scoreboard

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container.d-none.d-sm-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item
          a(href="#") онлайн табло
        li.breadcrumb-item.active(aria-current="page") вылет



  .b-title-page.b-title-page_sm
    .b-title-page__wrap.b-title-page__wrap_over_list.align-items-end
      .container
        .b-title-page__inner.align-items-end
          .b-title-page__list-wrap
            ul.b-title-page__list.nav#myTab(role="tablist")
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link.active#departure-tab(data-toggle="tab" href="#departure" role="tab" aria-controls="departure" aria-selected="true") Вылет
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link#arrival-tab(data-toggle="tab" href="#arrival" role="tab" aria-controls="arrival" aria-selected="false") Прилет
              li.b-title-page__item.nav-item
                a.b-title-page__link.nav-link#transfer-tab(data-toggle="tab" href="#transfer" role="tab" aria-controls="transfer" aria-selected="false") Трансфер и транзит

  main.l-main

    +b-scoreboard()
