extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-search/b-search

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container.d-none.d-sm-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item.active(aria-current="page") Поиск


  .b-title-page.b-title-page_sm-bg-2
    .b-title-page__wrap
      .container
        .b-title-page__inner.align-items-center
          h1.b-title-page__name Поиск по сайту


  .container
    form.ui-search.ui-search_plus-list.ui-search_mod-b
      != pugHelpers.Icon.call(locals, {iconName: 'search-2', className: 'ic', iconWidth: '15', iconHeight: '15'})
      input.ui-search__input(type="text" placeholder="Поиск")


  main.l-main

    +b-search()
