extends _template.pug

include ../components/b-title-page/b-title-page
include ../components/b-services-item/b-services-item

block head
  head
    +head(head.home)


block header
  +header('')


block content

  .container.d-none.d-sm-block
    nav(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="#") Главная
        li.breadcrumb-item
          a(href="#") услуги
        li.breadcrumb-item
          a(href="#") еда и напитки
        li.breadcrumb-item.active(aria-current="page") шоколадница


  .b-title-page.b-title-page_sm-bg-2
    .b-title-page__wrap
      .container
        .b-title-page__inner.align-items-center
          h1.b-title-page__name Шоколадница
        .b-title-page__subtitle Кофейня большого города

  main.l-main

    +b-services-item()
