.b-news-item {
  padding-top: 117px;
  padding-bottom: 100px;
  &__title {
    font-size: 60px;
    line-height: 1.3;
  }
  &__main {}
  &__slider {
    .slick-dots {
      right: 0;
      left: auto;
      bottom: 57px;
      text-align: left;

      li.slick-active button:after {
        content: '';
        width: 24px;
        height: 24px;
        background: url("../media/general/spinner.png");
        animation: spin .8s linear 0s infinite;
        display: block;
        position: absolute;
        left: -8px;
        top: -8px;
      }
    }
  }
  &__img {
    margin-bottom: 110px;
  }
  &__date {
    font-size: 24px;
    line-height: 1.25;
    color: rgba(12, 35, 64, 0.8);
    padding-top: 10px;
    display: block;
    margin-bottom: 80px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 139px;
    padding-bottom: 24px;
    &__title {
      font-size: 32px;
      line-height: 1.25;
      margin-bottom: 10px;
    }
    &__date {
      font-size: 20px;
      margin-bottom: 40px;
    }
    &__img {
      margin-bottom: 86px;
    }
    &__slider {
      .slick-dots {
        bottom: 40px;
      }
    }
    .lead {
      margin-bottom: 42px;
    }
  }
}


.js-animation {
  &.active {
    .b-news-item__slider {
      &:before,
      &:after {
        content: '';
        width: 134px;
        bottom: 110px;
        background: url("../media/general/decor-vert.png") 0 0;
        position: absolute;
        top: 0;
      }
      &:before {
        right: 100%;
        margin-right: 80px;
      }
      &:after {
        left: 100%;
        margin-left: 80px;
      }
    }
  }
}
