mixin b-news-item()

  article.b-news-item
    .container
      .row
        .col-xl-7
          h1.b-news-item__title Аэропорт «Уфа» прошел проверку на доступность среды для людей с ограниченными физическими возможностями
          time.b-news-item__date 12 апр. 2019 г.
          .b-news-item__main
            .b-news-item__slider.js-slider(data-slick='{"arrows": false, "dots": true}')
              .b-news-item__img
                img.img-fluid(src="assets/media/content/b-news/1010x677/1.jpg", alt="фото")
              .b-news-item__img
                img.img-fluid(src="assets/media/content/b-news/1010x677/1.jpg", alt="фото")
              .b-news-item__img
                img.img-fluid(src="assets/media/content/b-news/1010x677/1.jpg", alt="фото")

          .lead Общественники проверили услуги и инфраструктуру аэропорта, которые призваны помочь людям с ограничениями возможностями, на соответствие международным стандартам и требованиями законодательства.

      .row
        .col-xl-5
          p В аэропорту «Уфа» общественные активисты провели мониторинг доступности среды для людей с ограниченными физическими возможностями. Проверка проходила в рамках партийного проекта «Единой России» - «Единая страна – доступная среда».  В состав группы вошли паралимпийская чемпионка по плаванию Оксана Савченко, руководитель Республиканской организации Всероссийского общества инвалидов Олег Ротов, преподаватели школы-интерната для слепых и слабовидящих детей Танзиля Абдулова, Юрий Афанасьев и другие. Общественники проверили услуги и инфраструктуру аэропорта, которые призваны помочь людям с ограничениями возможностями, на соответствие международным стандартам и требованиями законодательства.
          p В аэропорту «Уфа» разработана концепция особого обслуживания пассажиров с ограниченными физическими возможностями. Имеется выделенный персонал, прошедший соответствующее обучение и готовый оказать помощь, - говорит руководитель пресс-службы аэропорта «Уфа» Татьяна Ризван. –  Ежегодно мы отмечаем увеличение числа пассажиров с ОФВ.  По итогам 2018 года аэропорт обслужил 4,5 тысячи пассажиров с ограниченными возможностями здоровья, что больше показателя 2017 года на 25%.
          p Проверяющие оценили наличие пандусов в аэропорту, кнопки вызова персонала, пути движения с рельефной плиткой для слабовидящих пассажиров, возможность предоставить пассажирам инвалидные коляски. Интерес вызвал специализированный программно-информационный комплекс «Доступная среда», который имеет возможность работать в различных режимах: «лупа», «синтез речи», «контрастные цветовые режимы», «клавиатура Брайля», «индукционная петля» и т.д. Благодаря этой системе пассажир может самостоятельно получить информацию о рейсе, ознакомиться с работой аэропорта.
          p На перроне гостям продемонстрировали специальную технику для оказания услуг пассажирам с ОФВ: амбулифты, специализированный микроавтобус с подъемной площадкой для перевозки людей на инвалидных колясках, автобусы, оборудованные откидными пандусами, специализированный автомобиль скорой помощи.
          p Хотим отметить, что организация обслуживания пассажиров с ограниченными возможностями здоровья поставлена в аэропорту «Уфа» на высоком уровне, - прокомментировал итоги встречи координатор проекта  «Единая страна – доступная среда» в РБ Наиль Каримов. -  В нашей группе есть эксперты, которые проверяли объекты в Москве и Санкт-Петербурге, по их оценке, уфимский аэропорт является одним из лучших не только в республике, но и стране.
          p При этом, как отметил генеральный директор аэропорта «Уфа» Александр Андреев, предприятие готово улучшать работу  в данном направлении:
          p Важно взаимодействие в форме диалога. Ваши советы, экспертные предложения окажут большую помощь в развитии терминальной инфраструктуры, - сказал он, обращаясь к участникам мониторинга.



  section.section-news.section-default.bg-gray
    .container
      .ui-title-wrap
        .row.align-items-baseline
          .col-xl
            h2.ui-title Читайте также
          .col-xl-auto
            .ui-list-links__wrap
              ul.ui-list-links.list-unstyled
                li.ui-list-links__item
                  a.ui-list-links__link(href="#") Пресс-центр
                li.ui-list-links__item.ui-list-links__item-main
                  a.ui-list-links__link(href="#")
                    != pugHelpers.Icon.call(locals, {iconName: 'burger', className: 'ic', iconWidth: '20', iconHeight: '20'})
                    | Все новости

      .row.justify-content-between
        .col-auto
          +b-news('Аэропорт «Уфа» прошел проверку на доступность среды для людей с ограниченными физическими возможностями ', '12 апр. 2019 г.')
        .col-auto
          +b-news('Из аэропорта «Уфа» открываются прямые рейсы в Вену ', '12 апр. 2019 г.')
        .col-auto
          +b-news('Аэропорт «Уфа» встретил первый рейс авиакомпании Georgian Airways ', '12 апр. 2019 г.')
        .col-auto
          +b-news('Аэропорт «Уфа» встретил первый рейс авиакомпании Georgian Airways ', '12 апр. 2019 г.')


  // end .b-news-item
  |
  |

mixin b-news-item_anim()

  article.b-news-item
    .container
      .row
        .col-xl-7.js-animation
          h1.b-news-item__title Аэропорт «Уфа» прошел проверку на доступность среды для людей с ограниченными физическими возможностями
          time.b-news-item__date 12 апр. 2019 г.
          .b-news-item__main
            .b-news-item__slider.js-slider(data-slick='{"arrows": false, "dots": true}')
              .b-news-item__img
                img.img-fluid(src="assets/media/content/b-news/1010x677/1.jpg", alt="фото")
              .b-news-item__img
                img.img-fluid(src="assets/media/content/b-news/1010x677/1.jpg", alt="фото")
              .b-news-item__img
                img.img-fluid(src="assets/media/content/b-news/1010x677/1.jpg", alt="фото")

          .lead Общественники проверили услуги и инфраструктуру аэропорта, которые призваны помочь людям с ограничениями возможностями, на соответствие международным стандартам и требованиями законодательства.

      .row
        .col-xl-5.js-animation
          p В аэропорту «Уфа» общественные активисты провели мониторинг доступности среды для людей с ограниченными физическими возможностями. Проверка проходила в рамках партийного проекта «Единой России» - «Единая страна – доступная среда».  В состав группы вошли паралимпийская чемпионка по плаванию Оксана Савченко, руководитель Республиканской организации Всероссийского общества инвалидов Олег Ротов, преподаватели школы-интерната для слепых и слабовидящих детей Танзиля Абдулова, Юрий Афанасьев и другие. Общественники проверили услуги и инфраструктуру аэропорта, которые призваны помочь людям с ограничениями возможностями, на соответствие международным стандартам и требованиями законодательства.
          p В аэропорту «Уфа» разработана концепция особого обслуживания пассажиров с ограниченными физическими возможностями. Имеется выделенный персонал, прошедший соответствующее обучение и готовый оказать помощь, - говорит руководитель пресс-службы аэропорта «Уфа» Татьяна Ризван. –  Ежегодно мы отмечаем увеличение числа пассажиров с ОФВ.  По итогам 2018 года аэропорт обслужил 4,5 тысячи пассажиров с ограниченными возможностями здоровья, что больше показателя 2017 года на 25%.
          p Проверяющие оценили наличие пандусов в аэропорту, кнопки вызова персонала, пути движения с рельефной плиткой для слабовидящих пассажиров, возможность предоставить пассажирам инвалидные коляски. Интерес вызвал специализированный программно-информационный комплекс «Доступная среда», который имеет возможность работать в различных режимах: «лупа», «синтез речи», «контрастные цветовые режимы», «клавиатура Брайля», «индукционная петля» и т.д. Благодаря этой системе пассажир может самостоятельно получить информацию о рейсе, ознакомиться с работой аэропорта.
          p На перроне гостям продемонстрировали специальную технику для оказания услуг пассажирам с ОФВ: амбулифты, специализированный микроавтобус с подъемной площадкой для перевозки людей на инвалидных колясках, автобусы, оборудованные откидными пандусами, специализированный автомобиль скорой помощи.
          p Хотим отметить, что организация обслуживания пассажиров с ограниченными возможностями здоровья поставлена в аэропорту «Уфа» на высоком уровне, - прокомментировал итоги встречи координатор проекта  «Единая страна – доступная среда» в РБ Наиль Каримов. -  В нашей группе есть эксперты, которые проверяли объекты в Москве и Санкт-Петербурге, по их оценке, уфимский аэропорт является одним из лучших не только в республике, но и стране.
          p При этом, как отметил генеральный директор аэропорта «Уфа» Александр Андреев, предприятие готово улучшать работу  в данном направлении:
          p Важно взаимодействие в форме диалога. Ваши советы, экспертные предложения окажут большую помощь в развитии терминальной инфраструктуры, - сказал он, обращаясь к участникам мониторинга.



  section.section-news.section-default.bg-gray
    .container
      .ui-title-wrap
        .row.align-items-baseline
          .col-xl
            h2.ui-title Читайте также
          .col-xl-auto
            .ui-list-links__wrap
              ul.ui-list-links.list-unstyled
                li.ui-list-links__item
                  a.ui-list-links__link(href="#") Пресс-центр
                li.ui-list-links__item.ui-list-links__item-main
                  a.ui-list-links__link(href="#")
                    != pugHelpers.Icon.call(locals, {iconName: 'burger', className: 'ic', iconWidth: '20', iconHeight: '20'})
                    | Все новости

      .row.justify-content-between
        .col-auto
          +b-news('Аэропорт «Уфа» прошел проверку на доступность среды для людей с ограниченными физическими возможностями ', '12 апр. 2019 г.')
        .col-auto
          +b-news('Из аэропорта «Уфа» открываются прямые рейсы в Вену ', '12 апр. 2019 г.')
        .col-auto
          +b-news('Аэропорт «Уфа» встретил первый рейс авиакомпании Georgian Airways ', '12 апр. 2019 г.')
        .col-auto
          +b-news('Аэропорт «Уфа» встретил первый рейс авиакомпании Georgian Airways ', '12 апр. 2019 г.')


  // end .b-news-item
  |
  |

