.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding-top: 19px;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 179px;
  list-style: none;
  border-top: 1px solid rgba(12, 35, 64, 0.2);

  @include media-breakpoint-down(sm) {
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.breadcrumb-item {
    font-size: 14px;
    color: rgba(12, 35, 64, 0.4);
    text-transform: uppercase;
    font-family: Geometria;
    font-size: 11px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    font-weight: bold;
  + .breadcrumb-item {
    padding-left: 7px;

    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: 6px;
      color: rgba(12, 35, 64, 0.4);
      content: ' / ';
    }
  }

  a {
    color: rgba(12, 35, 64, 0.4);
    &:hover {
      color: $main;
      text-decoration: none;
    }
  }

  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  + .breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  // stylelint-disable-next-line no-duplicate-selectors
  + .breadcrumb-item:hover::before {
    text-decoration: none;
  }

  &.active {
    color: $main;
  }

  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }
}
