mixin b-card-sez()

  .b-card-sez
    .container
      .ui-list-links__container
        .ui-list-links__wrap
          ul.ui-list-links.ui-list-links_in-header.list-unstyled
            li.ui-list-links__item
              a.ui-list-links__link.active(href="#") Сезонное расписание
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Бронирование билетов
            li.ui-list-links__item.ui-list-links__item-external
              a.ui-list-links__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '32', iconHeight: '32'})
                | Онлайн табло


    .b-card-sez__inner.bg-gray.section-area
      .container
        .b-card-sez-header
          form.b-card-sez-header__form.ui-search-inner
            != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic stroke-primary', iconWidth: '18', iconHeight: '18'})
            input.ui-search-inner__input.js-search-mobile(type="text" placeholder="Поиск по номеру рейса, городу и авиакомпании")


          .b-card-sez-header__select
            != pugHelpers.Icon.call(locals, {iconName: 'globe', className: 'ic stroke-primary stroke-w2', iconWidth: '18', iconHeight: '18'})
            select.js-select(data-width="100%"  data-style="ui-select")
              option(value="") Санкт-Петербург
              option(value="") Город 1
              option(value="") Город 2
              option(value="") Город 3
              option(value="") Город 4

          .b-card-sez-header__date
            span.ui-daterange.input-daterange.input-group.js-date-group#datepicker
              != pugHelpers.Icon.call(locals, {iconName: 'date', className: 'ic fill-primary', iconWidth: '18', iconHeight: '18'})
              input.ui-daterange__item.ui-select(type="text" name="start" placeholder="начало")
              span.input-group-addon  -
              |
              |
              input.ui-daterange__item.ui-select(type="text" name="end" placeholder="конец")

        a.b-card-sez-card(href="#")
          .b-card-sez-card__inner
            .b-card-sez-card__main.row.align-items-center
              .b-card-sez-card__td.b-card-sez-card__td_time 07:15

              .b-card-sez-card__td.b-card-sez-card__td_company
                span.b-card-sez-card__info.b-card-sez-card__title Аэрофлот

              .b-card-sez-card__td.b-card-sez-card__td_flight
                span.b-card-sez-card__name.d-xl-none Рейс
                span.b-card-sez-card__info 5N
                  strong  5921

              .b-card-sez-card__td.b-card-sez-card__td_status.d-md-none
                span.b-card-sez-card__name.d-xl-none Статус
                span.b-card-sez-card__info Прибыл в
                  strong  в 09:00

              .b-card-sez-card__td.b-card-sez-card__td_day
                span.b-card-sez-card__name.d-xl-none Дни полетов
                span.b-card-sez-card__info Пн, Вт, Ср, Чт, Пт, Вс

              .b-card-sez-card__td.b-card-sez-card__td_period
                span.b-card-sez-card__date-group
                  span.b-card-sez-card__name.d-xl-none Вылет
                  span.b-card-sez-card__info 01.04.2019
                span.b-card-sez-card__date-group
                  span.b-card-sez-card__name.d-xl-none Прилет
                  span.b-card-sez-card__info 18.05.2019

              .b-card-sez-card__td.b-card-sez-card__td_terminal
                span.b-card-sez-card__name Терминал
                span.b-card-sez-card__info
                  strong  1

        a.b-card-sez-card(href="#")
          .b-card-sez-card__inner
            .b-card-sez-card__main.row.align-items-center
              .b-card-sez-card__td.b-card-sez-card__td_time 07:15

              .b-card-sez-card__td.b-card-sez-card__td_company
                span.b-card-sez-card__info.b-card-sez-card__title Nordwind Airlines

              .b-card-sez-card__td.b-card-sez-card__td_flight
                span.b-card-sez-card__name.d-xl-none Рейс
                span.b-card-sez-card__info 5N
                  strong  5921

              .b-card-sez-card__td.b-card-sez-card__td_status.d-md-none
                span.b-card-sez-card__name.d-xl-none Статус
                span.b-card-sez-card__info Прибыл в
                  strong  в 09:00

              .b-card-sez-card__td.b-card-sez-card__td_day
                span.b-card-sez-card__name.d-xl-none Дни полетов
                span.b-card-sez-card__info Пн  —  Сб

              .b-card-sez-card__td.b-card-sez-card__td_period
                span.b-card-sez-card__date-group
                  span.b-card-sez-card__name.d-xl-none Вылет
                  span.b-card-sez-card__info 01.04.2019
                span.b-card-sez-card__date-group
                  span.b-card-sez-card__name.d-xl-none Прилет
                  span.b-card-sez-card__info 18.05.2019

              .b-card-sez-card__td.b-card-sez-card__td_terminal
                span.b-card-sez-card__name Терминал
                span.b-card-sez-card__info
                  strong  1

        a.b-card-sez-card(href="#")
            .b-card-sez-card__inner
              .b-card-sez-card__main.row.align-items-center
                .b-card-sez-card__td.b-card-sez-card__td_time 07:15

                .b-card-sez-card__td.b-card-sez-card__td_company
                  span.b-card-sez-card__info.b-card-sez-card__title S7 Airlines

                .b-card-sez-card__td.b-card-sez-card__td_flight
                  span.b-card-sez-card__name.d-xl-none Рейс
                  span.b-card-sez-card__info 5N
                    strong  5921

                .b-card-sez-card__td.b-card-sez-card__td_status.d-md-none
                  span.b-card-sez-card__name.d-xl-none Статус
                  span.b-card-sez-card__info Прибыл в
                    strong  в 09:00

                .b-card-sez-card__td.b-card-sez-card__td_day
                  span.b-card-sez-card__name.d-xl-none Дни полетов
                  span.b-card-sez-card__info Вторник

                .b-card-sez-card__td.b-card-sez-card__td_period
                  span.b-card-sez-card__date-group
                    span.b-card-sez-card__name.d-xl-none Вылет
                    span.b-card-sez-card__info 01.04.2019
                  span.b-card-sez-card__date-group
                    span.b-card-sez-card__name.d-xl-none Прилет
                    span.b-card-sez-card__info 18.05.2019

                .b-card-sez-card__td.b-card-sez-card__td_terminal
                  span.b-card-sez-card__name Терминал
                  span.b-card-sez-card__info
                    strong  1


  // end .b-card-sez
  |
  |

