mixin b-services()

  .b-services.section-area.bg-gray
    .container
      .b-card-2-group
        .grid(data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 10, "horizontalOrder": true }')

          .b-card-2.grid-item.b-card-2_w-rad
            .b-card-2__inner
              .b-card-2__header
                .b-card-2__title Пассажирам с ОФВ
                != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              ul.b-card-2__list.list-unstyled
                li.b-card-2__item
                  a.b-card-2__link(href="#") Персональное обслуживание
                li.b-card-2__item
                  a.b-card-2__link(href="#") Сообщить о прибытии
                li.b-card-2__item
                  a.b-card-2__link(href="#") Парковка
                li.b-card-2__item
                  a.b-card-2__link(href="#") Багаж
                li.b-card-2__item
                  a.b-card-2__link(href="#") Обратная связь

          .b-card-2.grid-item.b-card-2_w-rad
            .b-card-2__inner
              .b-card-2__header
                .b-card-2__title Как добраться
                != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              ul.b-card-2__list.list-unstyled
                li.b-card-2__item
                  a.b-card-2__link(href="#") До аэропорта
                li.b-card-2__item
                  a.b-card-2__link(href="#") До города

          .b-card-2.grid-item.b-card-2_w-rad
            .b-card-2__inner
              .b-card-2__header
                .b-card-2__title Парковка
                != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})

          .b-card-2.grid-item.b-card-2_w-rad
            .b-card-2__inner
              .b-card-2__header
                .b-card-2__title Сервисы
                != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              ul.b-card-2__list.list-unstyled
                li.b-card-2__item
                  a.b-card-2__link(href="#") Схема аэропорта
                li.b-card-2__item
                  a.b-card-2__link(href="#") Обратная связь
                li.b-card-2__item
                  a.b-card-2__link(href="#") Тайный покупатель
                li.b-card-2__item
                  a.b-card-2__link(href="#") Онлайн-регистрация
                li.b-card-2__item
                  a.b-card-2__link(href="#") Бронирование билетов (онлайн)
                li.b-card-2__item
                  a.b-card-2__link(href="#") Регистрация с электронным билетом
                li.b-card-2__item
                  a.b-card-2__link(href="#") Саморегистрация

          .b-card-2.grid-item.b-card-2_w-rad
            .b-card-2__inner
              .b-card-2__header
                .b-card-2__title Еда и напитки
                != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              ul.b-card-2__list.list-unstyled
                li.b-card-2__item
                  a.b-card-2__link(href="#") Ресторан «Аэропорт»
                li.b-card-2__item
                  a.b-card-2__link(href="#") Centootto
                li.b-card-2__item
                  a.b-card-2__link(href="#") Sky Bar
                li.b-card-2__item
                  a.b-card-2__link(href="#") Кафе «Шоколадница»
                li.b-card-2__item
                  a.b-card-2__link(href="#") Panini Bar
                li.b-card-2__item
                  a.b-card-2__link(href="#") Кафе «Башкирская кухня»
                li.b-card-2__item
                  a.b-card-2__link(href="#") Кафе «Пицца Италия»

          .b-card-2.grid-item.b-card-2_w-rad
            .b-card-2__inner
              .b-card-2__header
                .b-card-2__title Магазины
                != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '20'})
              ul.b-card-2__list.list-unstyled
                li.b-card-2__item
                  a.b-card-2__link(href="#") Подарки
                li.b-card-2__item
                  a.b-card-2__link(href="#") Сувениры
                li.b-card-2__item
                  a.b-card-2__link(href="#") Башкирские сувениры
                li.b-card-2__item
                  a.b-card-2__link(href="#") Экспедиция
                li.b-card-2__item
                  a.b-card-2__link(href="#") Экомаркет
                li.b-card-2__item
                  a.b-card-2__link(href="#") Минимаркет
                li.b-card-2__item
                  a.b-card-2__link(href="#") Читай и Летай
                li.b-card-2__item
                  a.b-card-2__link(href="#") Башкирский мед
                li.b-card-2__item
                  a.b-card-2__link(href="#") Медовуха
                li.b-card-2__item
                  a.b-card-2__link(href="#") Атрибутика
                li.b-card-2__item
                  a.b-card-2__link(href="#") Beauty
                li.b-card-2__item
                  a.b-card-2__link(href="#") Оренбургский пуховый платок
                li.b-card-2__item
                  a.b-card-2__link(href="#") Morozko
                li.b-card-2__item
                  a.b-card-2__link(href="#") Сибирский кедр
                li.b-card-2__item
                  a.b-card-2__link(href="#") ЯRussia
                li.b-card-2__item
                  a.b-card-2__link(href="#") Duty Free
                li.b-card-2__item
                  a.b-card-2__link(href="#") CREAMETTO

  // end .b-services
  |
  |

