mixin footer()
  footer.footer
    .container
      .footer__main
        .footer__links
          a.footer__link(href="tel:+88002006602") +8 (800) 200-66-02
          a.footer__link(href="tel:+83472006602") +8 (347) 200-66-02
          a.btn.btn-secondary.btn-sm.d-md-none.d-block(href="#") Обратная связь
          ul.footer-soc.list-unstyled
            li.footer-soc__item
              a.footer-soc__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'soc-vk', className: 'ic', iconWidth: '16', iconHeight: '9'})
            li.footer-soc__item
              a.footer-soc__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'soc-fb', className: 'ic', iconWidth: '9', iconHeight: '16'})
            li.footer-soc__item
              a.footer-soc__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'soc-tw', className: 'ic', iconWidth: '16', iconHeight: '14'})
            li.footer-soc__item
              a.footer-soc__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'soc-inst', className: 'ic', iconWidth: '16', iconHeight: '16'})
            li.footer-soc__item
              a.footer-soc__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'soc-yt', className: 'ic', iconWidth: '16', iconHeight: '11'})
            li.footer-soc__item
              a.footer-soc__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'soc-od', className: 'ic', iconWidth: '10', iconHeight: '16'})

        form.footer-search
          input.footer-search__input.js-footer-search(type="text" placeholder="Поиск по сайту")
          .footer-search__btns
            button.footer-search__btn.btn.btn-primary Найти
            button.footer-search__close.js-footer-search__close.btn.btn-secondary(type="reset") Закрыть поиск

      .copyright
        .row.justify-content-between
          .col-lg
            a.copyright__callback.copyright__link.d-none.d-md-inline-block(href="#") Обратная связь
            span © 2019 Международный аэропорт «Уфа»
          .col-lg-auto
            span Разработка сайта —
              |
              |
              a.copyright__link(href="#")
                img.copyright__develop.img-fluid(src="assets/media/general/logo-develop.png", alt="Вебпространство")

  // .footer


