mixin b-scoreboard()


  button.btn.btn-primary.d-lg-none(type="button" class="" data-toggle="modal" data-target="#modalSwipe") Запустить модальное окно свайпа
  .b-scoreboard.bg-gray.section-area
    .container
      .b-scoreboard-header
        form.b-scoreboard-header__form.ui-search-inner
          != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic stroke-primary', iconWidth: '18', iconHeight: '18'})
          input.ui-search-inner__input(type="text" placeholder="Поиск по номеру рейса, городу и авиакомпании")
        .b-scoreboard-header__date
          label.input-group.date(for="date")
            != pugHelpers.Icon.call(locals, {iconName: 'date', className: 'ic fill-primary', iconWidth: '18', iconHeight: '18'})
            input.ui-select.js-date#date(type="text" autocomplete="off" placeholder="сегодня" required)


        .b-scoreboard-header__select.d-none.d-lg-flex
          != pugHelpers.Icon.call(locals, {iconName: 'flag', className: 'ic', iconWidth: '18', iconHeight: '18'})
          select.js-select(data-width="100%"  data-style="ui-select")
            option(value="") Все терминалы
            option(value="") Терминал 1
            option(value="") Терминал 2
            option(value="") Терминал 3
            option(value="") Терминал 4


      .tab-content#myTabContent
        .tab-pane.fade.show.active#departure(role="tabpanel" aria-labelledby="departure-tab")

          a.b-scoreboard-card(href="#")
            .b-scoreboard-card__inner
              .b-scoreboard-card__main.row.align-items-center
                .b-scoreboard-card__date
                  time.b-scoreboard-card__date-current.text-primary 23:35
                  time.b-scoreboard-card__date-old 23:30
                .b-scoreboard-card__td.b-scoreboard-card__td_city
                  .b-scoreboard-card__title Петропавловск-Камчатский
                  span.b-scoreboard-card__label nux
                .b-scoreboard-card__td.b-scoreboard-card__td_flight
                  span.b-scoreboard-card__name.d-md-none Рейс
                  span.b-scoreboard-card__info 5N
                    strong  5921
                .b-scoreboard-card__td.b-scoreboard-card__td_company
                  span.b-scoreboard-card__name.d-md-none Авиакомпания
                  span.b-scoreboard-card__info Аэрофлот
                .b-scoreboard-card__td.b-scoreboard-card__td_status
                  span.b-scoreboard-card__name.d-md-none Статус
                  span.b-scoreboard-card__info Прибыл в РКС
                .b-scoreboard-card__td.b-scoreboard-card__td_terminal
                  span.b-scoreboard-card__name Терминал
                  span.b-scoreboard-card__info
                    strong  1
                .b-scoreboard-card__td.b-scoreboard-card__td_arr.d-xl-block.d-none
                  != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '12'})

          a.b-scoreboard-card(href="#")
            .b-scoreboard-card__inner
              .b-scoreboard-card__main.row.align-items-center
                .b-scoreboard-card__date
                  time.b-scoreboard-card__date-current 23:35
                .b-scoreboard-card__td.b-scoreboard-card__td_city
                  .b-scoreboard-card__title Москва
                  span.b-scoreboard-card__label SVO
                .b-scoreboard-card__td.b-scoreboard-card__td_flight
                  span.b-scoreboard-card__name.d-md-none Рейс
                  span.b-scoreboard-card__info 5N
                    strong  5921
                .b-scoreboard-card__td.b-scoreboard-card__td_company
                  span.b-scoreboard-card__name.d-md-none Авиакомпания
                  span.b-scoreboard-card__info Nordwind Airlines
                .b-scoreboard-card__td.b-scoreboard-card__td_status
                  span.b-scoreboard-card__name.d-md-none Статус
                  span.b-scoreboard-card__info В полете
                .b-scoreboard-card__td.b-scoreboard-card__td_terminal
                  span.b-scoreboard-card__name Терминал
                  span.b-scoreboard-card__info
                    strong  2
                .b-scoreboard-card__td.b-scoreboard-card__td_arr.d-xl-block.d-none
                  != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '12'})

              .b-scoreboard-card__footer
                span.b-scoreboard-card__footer-title.text-primary Рейс совмещен :
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245

          a.b-scoreboard-card(href="#")
            .b-scoreboard-card__inner
              .b-scoreboard-card__main.row.align-items-center
                .b-scoreboard-card__date
                  time.b-scoreboard-card__date-old.text-primary 21:00
                .b-scoreboard-card__td.b-scoreboard-card__td_city
                  .b-scoreboard-card__title Казань
                  span.b-scoreboard-card__label kzn
                .b-scoreboard-card__td.b-scoreboard-card__td_flight
                  span.b-scoreboard-card__name.d-md-none Рейс
                  span.b-scoreboard-card__info 5N
                    strong  5921
                .b-scoreboard-card__td.b-scoreboard-card__td_company
                  span.b-scoreboard-card__name.d-md-none Авиакомпания
                  span.b-scoreboard-card__info Турецкие авиалинии
                .b-scoreboard-card__td.b-scoreboard-card__td_status
                  span.b-scoreboard-card__name.d-md-none Статус
                  span.b-scoreboard-card__info Отправлен в 09:00
                .b-scoreboard-card__td.b-scoreboard-card__td_terminal
                  span.b-scoreboard-card__name Терминал
                  span.b-scoreboard-card__info
                    strong  2
                .b-scoreboard-card__td.b-scoreboard-card__td_arr.d-xl-block.d-none
                  != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '12'})

              .b-scoreboard-card__footer
                span.b-scoreboard-card__footer-title.text-primary Рейс выполняется авиакомпанией :
                span.b-scoreboard-card__footer-item Узбекистон хаво йоллари
                  span.b-scoreboard-card__footer-number HY-234 23.03.19


        .tab-pane.fade#arrival(role="tabpanel" aria-labelledby="arrival-tab")

          a.b-scoreboard-card(href="#")
            .b-scoreboard-card__inner
              .b-scoreboard-card__main.row.align-items-center
                .b-scoreboard-card__date
                  time.b-scoreboard-card__date-old.text-primary 21:00
                .b-scoreboard-card__td.b-scoreboard-card__td_city
                  .b-scoreboard-card__title Казань
                  span.b-scoreboard-card__label kzn
                .b-scoreboard-card__td.b-scoreboard-card__td_flight
                  span.b-scoreboard-card__name.d-md-none Рейс
                  span.b-scoreboard-card__info 5N
                    strong  5921
                .b-scoreboard-card__td.b-scoreboard-card__td_company
                  span.b-scoreboard-card__name.d-md-none Авиакомпания
                  span.b-scoreboard-card__info Турецкие авиалинии
                .b-scoreboard-card__td.b-scoreboard-card__td_status
                  span.b-scoreboard-card__name.d-md-none Статус
                  span.b-scoreboard-card__info Отправлен в 09:00
                .b-scoreboard-card__td.b-scoreboard-card__td_terminal
                  span.b-scoreboard-card__name Терминал
                  span.b-scoreboard-card__info
                    strong  2
                .b-scoreboard-card__td.b-scoreboard-card__td_arr.d-xl-block.d-none
                  != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '12'})

              .b-scoreboard-card__footer
                span.b-scoreboard-card__footer-title.text-primary Рейс выполняется авиакомпанией :
                span.b-scoreboard-card__footer-item Узбекистон хаво йоллари
                  span.b-scoreboard-card__footer-number HY-234 23.03.19
          a.b-scoreboard-card(href="#")
            .b-scoreboard-card__inner
              .b-scoreboard-card__main.row.align-items-center
                .b-scoreboard-card__date
                  time.b-scoreboard-card__date-current.text-primary 23:35
                  time.b-scoreboard-card__date-old 23:30
                .b-scoreboard-card__td.b-scoreboard-card__td_city
                  .b-scoreboard-card__title Петропавловск-Камчатский
                  span.b-scoreboard-card__label nux
                .b-scoreboard-card__td.b-scoreboard-card__td_flight
                  span.b-scoreboard-card__name.d-md-none Рейс
                  span.b-scoreboard-card__info 5N
                    strong  5921
                .b-scoreboard-card__td.b-scoreboard-card__td_company
                  span.b-scoreboard-card__name.d-md-none Авиакомпания
                  span.b-scoreboard-card__info Аэрофлот
                .b-scoreboard-card__td.b-scoreboard-card__td_status
                  span.b-scoreboard-card__name.d-md-none Статус
                  span.b-scoreboard-card__info Прибыл в РКС
                .b-scoreboard-card__td.b-scoreboard-card__td_terminal
                  span.b-scoreboard-card__name Терминал
                  span.b-scoreboard-card__info
                    strong  1
                .b-scoreboard-card__td.b-scoreboard-card__td_arr.d-xl-block.d-none
                  != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '12'})

          a.b-scoreboard-card(href="#")
            .b-scoreboard-card__inner
              .b-scoreboard-card__main.row.align-items-center
                .b-scoreboard-card__date
                  time.b-scoreboard-card__date-current 23:35
                .b-scoreboard-card__td.b-scoreboard-card__td_city
                  .b-scoreboard-card__title Москва
                  span.b-scoreboard-card__label SVO
                .b-scoreboard-card__td.b-scoreboard-card__td_flight
                  span.b-scoreboard-card__name.d-md-none Рейс
                  span.b-scoreboard-card__info 5N
                    strong  5921
                .b-scoreboard-card__td.b-scoreboard-card__td_company
                  span.b-scoreboard-card__name.d-md-none Авиакомпания
                  span.b-scoreboard-card__info Nordwind Airlines
                .b-scoreboard-card__td.b-scoreboard-card__td_status
                  span.b-scoreboard-card__name.d-md-none Статус
                  span.b-scoreboard-card__info В полете
                .b-scoreboard-card__td.b-scoreboard-card__td_terminal
                  span.b-scoreboard-card__name Терминал
                  span.b-scoreboard-card__info
                    strong  2
                .b-scoreboard-card__td.b-scoreboard-card__td_arr.d-xl-block.d-none
                  != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '12'})

              .b-scoreboard-card__footer
                span.b-scoreboard-card__footer-title.text-primary Рейс совмещен :
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245


        .tab-pane.fade#transfer(role="tabpanel" aria-labelledby="transfer-tab")

          a.b-scoreboard-card(href="#")
            .b-scoreboard-card__inner
              .b-scoreboard-card__main.row.align-items-center
                .b-scoreboard-card__date
                  time.b-scoreboard-card__date-current 23:35
                .b-scoreboard-card__td.b-scoreboard-card__td_city
                  .b-scoreboard-card__title Москва
                  span.b-scoreboard-card__label SVO
                .b-scoreboard-card__td.b-scoreboard-card__td_terminal
                  span.b-scoreboard-card__name Терминал
                  span.b-scoreboard-card__info
                    strong  2
                .b-scoreboard-card__td.b-scoreboard-card__td_flight
                  span.b-scoreboard-card__name.d-md-none Рейс
                  span.b-scoreboard-card__info 5N
                    strong  5921
                .b-scoreboard-card__td.b-scoreboard-card__td_company
                  span.b-scoreboard-card__name.d-md-none Авиакомпания
                  span.b-scoreboard-card__info Nordwind Airlines
                .b-scoreboard-card__td.b-scoreboard-card__td_status
                  span.b-scoreboard-card__name.d-md-none Статус
                  span.b-scoreboard-card__info В полете
                .b-scoreboard-card__td.b-scoreboard-card__td_arr.d-xl-block.d-none
                  != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '12'})

              .b-scoreboard-card__footer
                span.b-scoreboard-card__footer-title.text-primary Рейс совмещен :
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245
                span.b-scoreboard-card__footer-item SU
                  span.b-scoreboard-card__footer-number 2100
                span.b-scoreboard-card__footer-item UX
                  span.b-scoreboard-card__footer-number 3245

          a.b-scoreboard-card(href="#")
            .b-scoreboard-card__inner
              .b-scoreboard-card__main.row.align-items-center
                .b-scoreboard-card__date
                  time.b-scoreboard-card__date-current.text-primary 23:35
                  time.b-scoreboard-card__date-old 23:30
                .b-scoreboard-card__td.b-scoreboard-card__td_city
                  .b-scoreboard-card__title Петропавловск-Камчатский
                  span.b-scoreboard-card__label nux
                .b-scoreboard-card__td.b-scoreboard-card__td_terminal
                  span.b-scoreboard-card__name Терминал
                  span.b-scoreboard-card__info
                    strong  1
                .b-scoreboard-card__td.b-scoreboard-card__td_flight
                  span.b-scoreboard-card__name.d-md-none Рейс
                  span.b-scoreboard-card__info 5N
                    strong  5921
                .b-scoreboard-card__td.b-scoreboard-card__td_company
                  span.b-scoreboard-card__name.d-md-none Авиакомпания
                  span.b-scoreboard-card__info Аэрофлот
                .b-scoreboard-card__td.b-scoreboard-card__td_status
                  span.b-scoreboard-card__name.d-md-none Статус
                  span.b-scoreboard-card__info Прибыл в РКС
                .b-scoreboard-card__td.b-scoreboard-card__td_arr.d-xl-block.d-none
                  != pugHelpers.Icon.call(locals, {iconName: 'arr-right', className: 'ic', iconWidth: '18', iconHeight: '12'})



  // end .b-scoreboard
  |
  |

