include ../navig/navig

mixin header(breadcrumb)

  header.header(class!=attributes.class)
    .header-top
      .container
        .header-top__inner.row.justify-content-between.align-items-center
          .col-md.col-auto
            .header-switcher
              input.header-switcher__input.custom-control-input#customSwitch1(type="checkbox")
              label.header-switcher__label(for="customSwitch1")
                span.header-switcher__item Пассажирам
                span.header-switcher__check
                span.header-switcher__item Партнерам

          .col-auto
            .d-lg-block.d-none
              a.header-top__link(href="#") Онлайн табло
              a.header-top__link(href="#") Схема аэропорта
              a.header-top__link(href="#") Обратная связь
              .header-top__group
                button.header-top__btn.header-top__btn_search(type="button")
                  != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic', iconWidth: '24', iconHeight: '24'})
                button.header-top__btn.header-top__btn_accessibility(type="button")
                  != pugHelpers.Icon.call(locals, {iconName: 'accessibility', className: 'ic', iconWidth: '20', iconHeight: '20'})

                .header-language.header-top__btn.dropdown
                  a.header-language__link.dropdown-toggle(href="#" role="button" id="dropdownLangLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    img.header-language__img.img-fluid(src="assets/media/general/language-en.png", alt="EN")
                    span.header-language__name EN

                  .header-language__menu.dropdown-menu(aria-labelledby="dropdownLangLink")
                    a.header-language__item.header-language__link.dropdown-item(href="#")
                      img.header-language__img.img-fluid(src="assets/media/general/language-ru.png", alt="РУ")
                      span.header-language__name РУ

            button.toggle-menu-button.navbar-toggler.d-lg-none.d-inline-block(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
              i.toggle-menu-button-icon
                span
                span
                span
                span
                span
                span

    .header-main
      .container
        .row.justify-content-between
          .col
            a.header__logo
              picture
                source(srcset="assets/media/general/logo-mob.png" media="(max-width: 767px)")
                img.img-fluid(src="assets/media/general/logo.png", alt="Международный аэропорт Уфа")


          .col-auto.d-lg-inline-block.d-none
            .header-main__links
              a.header__phone(href="tel:+88002006602") +8 (800) 200-66-02
              a.header__phone(href="tel:+83472006602") +8 (347) 200-66-02
              button.toggle-menu-button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation") Меню
                i.toggle-menu-button-icon
                  span
                  span
                  span
                  span
                  span
                  span

      .header-nav
        +navig()

  // end .header
  |
  |
