mixin b-schedule()

  .b-schedule
    .container
      .ui-list-links__container
        .ui-list-links__wrap
          ul.ui-list-links.ui-list-links_in-header.list-unstyled
            li.ui-list-links__item
              a.ui-list-links__link.active(href="#") Все направления
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Внутренние
            li.ui-list-links__item
              a.ui-list-links__link(href="#") Международные
            li.ui-list-links__item.ui-list-links__item-external
              a.ui-list-links__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '32', iconHeight: '32'})
                | Онлайн табло

    .section-area.bg-gray.b-schedule__inner
      .container

        .b-schedule-sort
          form.b-schedule-sort__search.d-sm-none
            != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic stroke-primary', iconWidth: '16', iconHeight: '16'})
            input.b-schedule-sort__input(type="text" placeholder="Поиск")

          != pugHelpers.Icon.call(locals, {iconName: 'filter', className: 'ic', iconWidth: '18', iconHeight: '18'})
          button.b-schedule-sort__trigger.js-sort-trigger.d-sm-none(type="button" data-toggle="collapse" data-target="#collapseSort" aria-expanded="false" aria-controls="collapseSort") настроить сортировку
          ul.b-schedule-sort__list.list-unstyled#collapseSort
            li.b-schedule-sort__item
              a.b-schedule-sort__link.active(href="#") а-я
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") а
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") б
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") в
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") г
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") д
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") е
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") и
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") л
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") м
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") н
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") о
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") п
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") р
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") с
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") т
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") у
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") э
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") х
            li.b-schedule-sort__item
              a.b-schedule-sort__link(href="#") я

        .b-card-2-group
          .grid(data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 10, "horizontalOrder": true }')

            .b-card-2.grid-item
              .b-card-2__inner
                .b-card-2__header
                  .b-card-2__title А
                ul.b-card-2__list.list-unstyled
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Абакан
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Анапа
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Анталья


            .b-card-2.grid-item
              .b-card-2__inner
                .b-card-2__header
                  .b-card-2__title Б
                ul.b-card-2__list.list-unstyled
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Баку
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Барселона
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Белоярский
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Бованенково
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Барселона
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Белоярский
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Бованенково

            .b-card-2.grid-item
              .b-card-2__inner
                .b-card-2__header
                  .b-card-2__title В
                ul.b-card-2__list.list-unstyled
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Абакан
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Анапа
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Анталья
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Анталья

            .b-card-2.grid-item
              .b-card-2__inner
                .b-card-2__header
                  .b-card-2__title Г
                ul.b-card-2__list.list-unstyled
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Баку
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Барселона
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Белоярский
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Бованенково
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Братск
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Бургас


            .b-card-2.grid-item
              .b-card-2__inner
                .b-card-2__header
                  .b-card-2__title Д
                ul.b-card-2__list.list-unstyled
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Абакан
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Анапа
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Анталья
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Анапа
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Анталья


            .b-card-2.grid-item
              .b-card-2__inner
                .b-card-2__header
                  .b-card-2__title Е
                ul.b-card-2__list.list-unstyled
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Баку
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Барселона
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Белоярский
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Бованенково
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Братск
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Бургас


            .b-card-2.grid-item
              .b-card-2__inner
                .b-card-2__header
                  .b-card-2__title Ж
                ul.b-card-2__list.list-unstyled
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Баку
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Барселона


            .b-card-2.grid-item
              .b-card-2__inner
                .b-card-2__header
                  .b-card-2__title З
                ul.b-card-2__list.list-unstyled
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Баку
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Барселона
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Белоярский
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Бованенково
                  li.b-card-2__item
                    a.b-card-2__link(href="#") Братск

  // end .b-schedule
  |
  |

