mixin b-services-item()

  .b-services-item.section-area.bg-gray-light
    .container
      .row.justify-content-between
        .col-xl-7
          .b-services-item__main
            .b-services-item__slider.js-slider(data-slick='{"arrows": false, "dots": true}')
              .b-services-item__img
                img.img-fluid(src="assets/media/content/b-services-item/1.jpg", alt="фото")
              .b-services-item__img
                img.img-fluid(src="assets/media/content/b-services-item/1.jpg", alt="фото")
              .b-services-item__img
                img.img-fluid(src="assets/media/content/b-services-item/1.jpg", alt="фото")

        .col-xl-3
          aside.b-card-links
            .b-card-links__item
              .b-card-links__title Терминал №2
              a.b-card-links__info(href="#") Показать на схеме
            .b-card-links__item
              .b-card-links__title Круглосуточно
              .b-card-links__info Время работы
            .b-card-links__item
              a.b-card-links__title(href="tel:+79268205802") +7 (926) 820 58 02
              .b-card-links__info Телефон
            .b-card-links__item
              a.b-card-links__title(href="www.shoko.ru") www.shoko.ru
              .b-card-links__info Сайт

            .b-card-links__footer
              ul.b-card-links__soc.list-unstyled
                li.b-card-links__soc-item
                  a.b-card-links__soc-link(href="#")
                    != pugHelpers.Icon.call(locals, {iconName: 'soc-vk', className: 'ic', iconWidth: '16', iconHeight: '9'})
                li.b-card-links__soc-item
                  a.b-card-links__soc-link(href="#")
                    != pugHelpers.Icon.call(locals, {iconName: 'soc-fb', className: 'ic', iconWidth: '9', iconHeight: '16'})
                li.b-card-links__soc-item
                  a.b-card-links__soc-link(href="#")
                    != pugHelpers.Icon.call(locals, {iconName: 'soc-tw', className: 'ic', iconWidth: '16', iconHeight: '14'})
                li.b-card-links__soc-item
                  a.b-card-links__soc-link(href="#")
                    != pugHelpers.Icon.call(locals, {iconName: 'soc-inst', className: 'ic', iconWidth: '16', iconHeight: '16'})

      .row
        .col-xl-7
          .lead История кофеен «Шоколадница» восходит корнями к легендарному кафе «Шоколадница» у метро Октябрьская — единственном столичном месте, где на протяжении нескольких десятилетий гостям предлагали изысканные лакомства и напитки: горячий шоколад и легендарные блинчики с начинкой из шоколада, изюма и орехов.

      .row
        .col-xl-5
          p На сегодняшний день сеть кофеен «Шоколадница» — одна из крупнейших и самых динамично развивающихся компаний в сфере ресторанного бизнеса в Москве, регионах России и странах СНГ.
          p С момента открытия кафе в 1964 году по сегодняшний день, когда кафе выросло в сеть уютных кофеен, «Шоколадница» была и остается законодателем «кофейной моды» в Москве.
          p Новую жизнь кофейня получила в 2000 году. Возрожденная «Шоколадница» начала работать по европейским стандартам, которые предполагают значительное расширение и постоянное обновление ассортимента, поддержание высокого уровня сервиса и качества кухни.
          p В 2006 году началось активное развитие сети в регионах. Сегодня «Шоколадница» успешно работает во многих городах России: Санкт-Петербурге, Екатеринбурге, Казани, Нижнем Новгороде, Новосибирске, Ростове-на-Дону, Уфе, Сочи, Краснодаре, Астрахани, Благовещенске, Брянске, Владивостоке, Курске, Оренбурге, Пензе, Иркутске, Перми, Иваново, Саратове, Череповце, Тюмени, Воронеже, Чите, Хабаровске,Южно-Сахалинске и других городах.

  // end .b-services-item
  |
  |

