mixin b-bnr()
  a.b-bnr(href="#")
    img.b-bnr__img(src="assets/media/content/b-bnr/860x310/1.jpg", alt="фото")
    span.b-bnr__label Парковка: c3
    .row
      .b-bnr__inner.col-xl-6
        .b-bnr__title
          span.text-primary Парковка 50 ₽
          |  за 30 мин.
        .b-bnr__info Сутки - 300 ₽


  // end .b-bnr
  |
  |

